---
layout: wide
title: Projects
description: We’re building human-centered solutions that scale, and strengthening federal culture while we’re at it. Learn about some of our projects and partners below.
permalink: /projects/
---

{% include banner.html %}

<section class="usa-section grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8">
      <h2>Explore our projects</h2>
      <p>Read the project briefs below to learn more about how our fellows are using their engineering, entrepreneurial, or design expertise to modernize government. You'll also get to know more about the federal agencies we work with, and why they're passionate about civic tech.</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="desktop:grid-col-12">
      {% include projects-column.html project_filter="upcoming" %}
    </div>
  </div>
</section>

<section class="usa-section grid-container">
  <h2>Explore recent projects</h2>
  <div class="grid-row">
    <div class="desktop:grid-col-12">
      {% include projects-column.html project_filter="current" %}
    </div>
  </div>
</section>

<section class="usa-section usa-section--light">
  <div class="grid-container">
    <h2>Case studies</h2>
    <div class="grid-row margin-x-neg-2">
    {% assign sorted_projects = site.projects | sort:"order" %}
    {% for project in sorted_projects %}
      {% if project.status contains 'case_study' %}
        {% include case-study.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

{% include quote.html image="quotes/henry_wei.jpg" quote="I'm a parent, and wanted to help build a better government for my daughters and future generations. The PIF program opened my eyes to a diverse group of like-minded people ready, willing, and able to help in the cause -- both during the Fellowship and well beyond in the PIF alumni community." name="Henry Wei
, 2012-2013 PIF detailed to U.S. Department of Veterans Affairs, Health and Human Services" %}
