---
layout: projects
title: Projects
description: We’re building human-centered solutions that scale, and strengthening federal culture while we’re at it. Learn about some of our projects and partners below.
permalink: /projects/
---

{% for project in site.projects %}
  {% if project.status contains 'past' or project.status contains 'current' or project.status contains 'case_study' or project.status contains 'upcoming' %}
    {% include project-item.html project=project %}
  {% endif %}
{% endfor %}
