---
layout: wide
title: Projects
description: We’re building human-centered solutions that scale, and fundamentally changing federal culture while we’re at it. Learn about some of our projects below.
permalink: /projects/
---

{% include banner.html %}

<section class="usa-section grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8">
      <h2>Upcoming projects</h2>
      <p>Here are a few of the projects our next cohort of Fellows will work on. Read the project briefs below to learn more about their scope and your opportunity for impact.</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="desktop:grid-col-12">
      {% include projects-column.html project_filter="upcoming" %}
    </div>
  </div>
</section>

<section class="usa-section grid-container">
  <h2>Explore recent projects</h2>
  <div class="grid-row">
    <div class="desktop:grid-col-12">
      {% include projects-column.html project_filter="current" %}
    </div>
  </div>
</section>

<section class="usa-section usa-section--light">
  <div class="grid-container">
    <h2>Case studies</h2>
    <div class="grid-row margin-x-neg-2">
    {% assign sorted_projects = site.projects | sort:"order" %}
    {% for project in sorted_projects %}
      {% if project.status contains 'case_study' %}
        {% include case-study.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
