{% comment %}
  This will redirect the results to /search template which will handle the js loading
{% endcomment %}

{% if include.searchgov %}
  {% if include.searchgov.inline == true %}
    <form id="search_form" class="usa-search usa-search--small" action="{{site.baseurl}}/search/" accept-charset="UTF-8" method="get">
  {% else %}
    <form id="search_form" class="usa-search usa-search--small" action="{{include.searchgov.endpoint}}/search" accept-charset="UTF-8" method="get">
  {% endif %}


    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="affiliate" type="hidden" value="{{include.searchgov.affiliate}}" />

    <div role="search" id="site-search" class="site-search">
      <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
      <input class="usa-input usagov-search-autocomplete" id="extended-search-field-small" type="search" name="query" autocomplete="off">
      <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
    </div>

    <button type="button" id='site-search-show' class="site-search-show" title="search the site"></button>
  </form>
{% endif %}

<script type="text/javascript">
  var show = document.getElementById("site-search-show");
  var search = document.getElementById("site-search");
  var input = document.getElementById("extended-search-field-small");
  var showSearch = false;

  show.addEventListener('click', event => {
    event.stopPropagation();
    show.style.display = 'none';
    search.classList.add('expanded');
    input.focus();
    input.select();
    showSearch = true;
  });

  document.addEventListener('click', function(event) {
    if (!showSearch) return;

    var isClickInside = input.contains(event.target);

    if (!isClickInside) {
      show.style.display = 'block';
      search.classList.remove('expanded');
      showSearch = false;
    }
  });
</script>
