$project-item-border-radius: 5px;

.project-item__outer {
  margin-bottom: 2rem;
}

.project-item__outer.hide {
  display: none;
}

.project-item {
  border-radius: $project-item-border-radius;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  @include at-media('tablet') {
    height: 100%;
  }
}

.project-item__link,
.project-item__link p {
  text-decoration: none;
}

.project-item__header {
  border-top-left-radius: $project-item-border-radius;
  border-top-right-radius: $project-item-border-radius;
  @include u-bg('base-lightest');
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}

.project-item__agency {
  @include u-font('serif', 'sm');
  @include u-text('primary-darker');
  font-style: italic;
}

.project-item__type {
  @include u-bg('primary-vivid');
  @include u-text('white');
  @include u-font('sans', '3xs');
  line-height: 13px;
  height: 24px;
  border-radius: 12px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
}

.project-item__content {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include at-media('tablet') {
    flex-direction: row;
  }
}

.project-item__image {
  height: 165px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.project-item__logo {
  height: auto;
  margin-bottom: 1rem;
  @include at-media('tablet') {
    margin-right: 1.4rem;
  }
}

.project-item__title {
  @include u-font('sans', 'lg');
  @include u-text('normal');
  @include u-text('primary-darker');
  line-height: 1.45;
  margin: 0;
}

.project-item--case-study {
  .project-item__header {
    @include light-bg;
  }

  .project-item__content {
    display: block;
    padding: 1rem;
  }

  .project-item__type {
    @include u-bg('primary-darker');
  }
}

