@mixin header-em {
  em {
    @include u-text('light');
    @include u-text('primary-vivid');
    font-style: italic;
  }
}

h1, .as-h1 {
  @include u-font('serif', '2xl');
  @include u-text('bold');
  @include u-text('primary');
  line-height: 1.2;
  @include header-em;
}

h2, .as-h2 {
  @include u-font('serif', 'xl');
  @include u-text('normal');
  @include u-text('primary-darker');
  font-style: italic;
  line-height: 1.2;
  @include header-em;
}

h3, .as-h3,
h4, .as-h4 {
  @include u-font('serif', 'sm');
  @include u-text('bold');
  @include u-text('primary-vivid');
  line-height: 1.625;
}

.usa-prose h3 {
  @include u-text('primary-darker');
}

p, blockquote {
  @include u-font('sans', 'sm');
  @include u-text('light');
  @include u-text('base');
  line-height: 1.625;
  strong {
    @include u-text('bold');
  }
}

ul, li {
  @include u-text('light');
  strong {
    @include u-text('bold');
  }
}

.usa-prose a:not(.usa-button),
.usa-prose a:not(.usa-button):active,
.usa-prose a:not(.usa-button):visited {
  @include u-text('primary');
}

.display {
  @include u-font-family('serif');
  @include u-text('light');
  @include u-text('primary');
  line-height: 1.16;
  font-size: 2.813rem; // 45 px
  @include at-media("mobile-lg") {
    font-size: 3.75rem; // 60 pixels
  }

  &--inverted {
    @include u-text('white');
  }
}

.body-intro {
  @include u-font('serif', 9); // 22 px
  @include u-text('light');
  @include u-text('primary-darker');
  font-style: normal;
  line-height: 1.62;
  @include at-media("mobile-lg") {
    @include u-font('serif', 9);
  }

  &--italic {
    font-style: italic;
  }

  &--tight {
    line-height: 1.2;
  }
  &--bold {
    font-weight: 700;
  }
}


// WAS THIS HELPFUL TOUCHPOINT
.feedback-modal {
  z-index: 1000;
  text-align: center;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1.5rem;
  position: fixed;
  scroll-behavior: smooth;
  top: 0;
  width: 100%;

  .modal-content {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background: white;
    color: #1b1b1b;
    display: inline-block;
    margin: 1.25rem auto;
    max-width: 35rem;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
}

.touchpoints-footer-banner {
  @include u-padding-left(1);
}