.usa-header--basic .usa-nav-container {
  @include at-media('desktop') {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
}

.usa-header--basic .usa-nav {
  @include at-media('desktop') {
    width: auto; // This helps logo to shrink when search bar is expanded
    flex-grow: 1;
  }
}

.usa-header--basic .usa-navbar {
  @include at-media('desktop') {
    max-width: 189px;
    flex: 2 2 15%; // This allows the logo to shrink when search bar is expanded
  }
}

.usa-nav__primary > .usa-nav__primary-item {
  @include at-media('desktop') {
    flex-shrink: 0;
  }
}

.usa-nav__primary > .usa-nav__primary-item > a {
  @include at-media('desktop') {
    @include u-font('sans', 'sm');
    @include u-text('normal');
    @include u-text('primary-darker');
  }
}

.usa-header--basic .usa-nav__primary-item > .usa-current {
  @include at-media('desktop') {
    @include u-text('bold');
  }
}

.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  @include at-media('desktop') {
    @include u-bg('secondary-darker');
    height: 2px;
    bottom: 6px;
  }
}

.usa-nav .usa-search {
  margin-left: 0;
}

.sidenav {
  .usa-sidenav {
      a {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
      }
  }

  .usa-sticky-sidenav {
      position: sticky;
      top: 16px;
  }
}
//Apply Process Section
// unique tweaks to process list
.apply-process {
  .usa-process-list {
      // keep
  }

  .usa-sidenav {
      counter-reset: usa-numbered-list;

      .usa-sidenav__item {
          border-top: none;
          a {
              &:hover{
                @include u-text("primary-light");
              }
            }
      }

      .usa-sidenav__item::before {
          display: flex;
          flex-direction: row;

          position: absolute;
          left: -1.5rem;
          height: 1.5rem;
          width: 1.5rem;

          margin-top: 0.45rem;
          align-items: center;
          justify-content: center;

          font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
          font-size: 0.9rem;
          font-weight: bold;
          color: color("base-dark");

          border: 0.15rem solid color("base-dark");
          border-radius: 50%;
          background-color: white;

          content: counter(usa-numbered-list, decimal);
          counter-increment: usa-numbered-list;
      }

      // custom bullets
      .bullet-question::before {
          content: "?";
      }
  }
}
// Custom Dark Styles

.usa-header--dark {
  @include at-media('desktop') {
    position: absolute;
    width: 100%;
  }
}

.usa-header--dark .usa-nav__primary > .usa-nav__primary-item > a {
  @include at-media('desktop') {
    @include u-text('white');
  }
}

.usa-header--dark .usa-nav__primary-item > .usa-current::after,
.usa-header--dark .usa-nav__link:hover::after {
  @include at-media('desktop') {
    @include u-bg('white');
  }
}

.usa-header--dark .usa-button.usa-button--secondary {
  @include at-media('desktop') {
    @include u-bg('primary-darker');
  }
}
