<div class="filters">
  <div class="filters__left display-flex">
    <div class='filter__col'>
      <select class="usa-select" name="fellows-select-year" id="fellows-select-year">
        <option value="" selected disabled hidden>Fellows by year</option>
        {% assign years = site.data.years | reverse %}
        {% for year in years %}
          <option value="{{ year }}">
            {{ year }} Fellows
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="filters__left display-flex">
      <div class='filter__col'>
        <select class="usa-select" name="fellows-select-skill" id="fellows-select-skill">
          <option value="" selected disabled hidden>Fellows by specialty</option>
          <option value="">All Fellows</option>
          {% assign skills = site.data.fellow-specialties | sort:"display_name" %}
          {% for skill in skills %}
            <option value="{{ skill.url_name }}">
              {{ skill.display_name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class='filter__search'>
    <input type="text" id="fellows-search-input" placeholder="Search fellows" class="usa-input">
  </div>
</div>

<script type="text/javascript">

  const validYears = [{% for year in site.data.years %} "{{ year }}" {% unless forloop.last %},{% endunless %} {% endfor %}]
  const validSpecialties = [{% for skill in site.data.fellow-specialties %} "{{ skill.url_name }}" {% unless forloop.last %},{% endunless %} {% endfor %}]

  // Year Select
  var yearSelect = document.getElementById("fellows-select-year");
  yearSelect.addEventListener('change', (event) => {
    window.location.href = "{{ site.baseurl }}/fellows/" + event.target.value + "#fellows-select-year";
  });

  // Skill Select
  var skillSelect = document.getElementById("fellows-select-skill");
  skillSelect.addEventListener('change', (event) => {
    window.location.href = "{{ site.baseurl }}/fellows/" + event.target.value + "#fellows-select-skill";
  });

  // get match from pathname
  var splitPath = window.location.pathname.split('/')
  for (item in splitPath) { 
    if (validYears.includes(item) ) {
      yearSelect.value = item;
      break;
    }

    if (validSpecialties.includes(item)) {
      skillSelect.value = item;
      break;
    }
  }
  

  
</script>
