<footer>

  <div class="container-fluid" id="footer">
    <div class="row" id="cta">
      <div class="col-sm-12 text-center">
        <h4>Become a Presidential Innovation Fellow <span class="visible-xs" id="cta-span"><br/></span>
          <!-- <a class="btn btn-lg btn-primary" href="{{ site.baseurl}}/application-closed">Get Started</a>-->
          <a class="btn btn-lg btn-primary" href="https://presidentialinnovationfellows.gov/application-closed/" target="_blank">Get Started</a>

        </h4>
      </div>
    </div>
    <div class="row" id="footer-text">
      <div class="col-md-7 col-md-offset-1 col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li><h4><a href="{{ site.baseurl }}/fellows/">Meet the Fellows</a></h4></li>
              <li><h4><a href="{{ site.baseurl }}/projects/">Project Case Studies</a></h4></li>
              <li><h4><a href="{{ site.baseurl }}/agencies/">Agencies Supported</a></h4></li>
              <li><h4><a href="{{ site.baseurl }}/leadership/">Leadership Team</a></h4></li>
              <li><h4><a href="{{ site.baseurl }}/about/">About Us</a></h4></li>

              <!-- <li><h4><a href="{{ baseurl }}/events/">Events</a></h4></li>-->
              <li><h4><a href="{{ site.baseurl }}/faq/">FAQs</a></h4></li>
            </ul>
          </div>
          <div class="col-sm-6 hidden-xs">
            <ul><!--
              <li><h4><a href="https://www.whitehouse.gov/innovationfellows" target="_blank">White House</a></h4></li>-->

              <li><h4><a href="http://gsa.gov" target="_blank">GSA</a></h4></li>
              <li><h4><a href="https://18f.gsa.gov" target="_blank">18F</a></h4></li>
              <li><h4><a href="https://www.usds.gov" target="_blank">USDS</a></h4></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm" id="social">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left;  }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//presidentialinnovationfellows.us11.list-manage.com/subscribe/post?u=8ff93f9a5662324b360f8107e&amp;id=8cec6581b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Join our mailing list</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_8ff93f9a5662324b360f8107e_8cec6581b6" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
        <h4>Connect:</h4>
        <ul>
          <li><a href="https://github.com/presidential-innovation-fellows" target="blank"><i class="fa fa-github-square fa-2x"></i></a></li>
          <li><a href="https://twitter.com/innovfellows" target="blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="https://www.facebook.com/presidentialinnovationfellows" target="blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/company/white-house-presidential-innovation-fellows" target="blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li><a href="https://angel.co/presidential-innovation-fellowship" target="blank"><i class="fa fa-angellist fa-2x"></i></a></li>
          <li><a href="https://medium.com/presidential-innovation-fellows" target="blank"><i class="fa fa-medium fa-2x"></i></a></li>
        </ul>
        <h4>Press: <a href="mailto:pif-comms@gsa.gov" target="blank">pif-comms@gsa.gov</a></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1" id="gov-links">
        <p><a href="{{ baseurl }}/sitemap.xml" target="_blank">SITEMAP</a> | <a href="http://www.gsa.gov/portal/content/116609" target="_blank">PRIVACY</a> | <a href="https://18f.gsa.gov/linking-policy/" target="_blank">LINKING POLICY</a></p>
      </div>
    </div>
    <div class="row" id="disclaimer">
      <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-7">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{ site.baseurl }}/assets/images/logo-gsa.png" id="gsa-logo">
          </div>
          <div class="col-sm-9">
            <p>A federal government website managed by the U.S. General Services Administration. 1800 F Street Northwest, Washington, DC 20405</p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-lg-offset-5 col-md-1 col-md-offset-4 col-sm-2 col-sm-offset-3 hidden-xs">
        <a href="https://www.whitehouse.gov/innovationfellows" target="_blank"><img src="{{ site.baseurl }}/assets/images/white-house-logo.png" class="img-responsive"></a>
      </div>
    </div>
  </div>

</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/imagesloaded.pkgds.min.js"></script>
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
