<section class='footer-tagline'>
  <div class="footer-tagline__overlay"></div>
  <div class="footer-tagline__shape"></div>
  <div class="footer-tagline__content">
    <div class="grid-container">
      <div class='grid-col'>
        <h2>
          Our nation’s <br/>
          challenges are our <br/>
          biggest opportunities.
        </h2>
        <h3>
          Our solutions need leaders like you.
        </h3>
        <div class="footer-tagline__actions">
          <div class='footer-tagline__stars footer-tagline__stars--hide-desktop'>
            {% asset star.svg alt="star" %}
            {% asset star.svg alt="star" %}
            {% asset star.svg alt="star" %}
          </div>
          <a class="usa-button usa-button--inverse" href="{{ site.baseurl }}/apply">
            Join us
          </a>
          <div class='footer-tagline__stars'>
            {% asset star.svg alt="star" %}
            {% asset star.svg alt="star" %}
            {% asset star.svg alt="star" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--   <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <h3>Our nation’s challenges are our biggest opportunities. Our solutions need leaders like you.</h3>
          <p><a class="usa-button usa-button--outline usa-button--inverse" href="{{ site.baseurl }}/apply">Join us</a></p>
        </div>
      </div>
    </div>
  </div> -->
