<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <h3>Our nation’s challenges are our biggest opportunities. Our solutions need leaders like you.</h3>
          <p><a class="usa-button usa-button--outline usa-button--inverse" href="/apply">Apply today</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <nav class="usa-footer__nav">
            <div class="grid-row">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Presidential Innovation Fellows</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="/fellows">Fellows</a></li>
                    <li class="usa-footer__secondary-link"><a href="/projects">Projects</a></li>
                    <li class="usa-footer__secondary-link"><a href="/agencies">Agencies</a></li>
                    <li class="usa-footer__secondary-link"><a href="/faq">FAQ</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Get in touch</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <!-- <li class="usa-footer__secondary-link"><a href="/contact-us">Contact Us</a></li> -->
                    <li class="usa-footer__secondary-link"><a href="mailto:pif-team@gsa.gov">pif-team@gsa.gov</a> </li>
                    <li>
                      <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/PIFgov">
                        <span>Twitter</span>
                      </a>
                      <a class="usa-social-link usa-social-link--linkedin" href="https://www.linkedin.com/company/white-house-presidential-innovation-fellows/">
                        <span>LinkedIn</span>
                      </a>
                    </li>
                    <li>

                    </li>

                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Policies and standards</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.gsa.gov/website-information/linking-policy">Linking policy</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.gsa.gov/website-information/linking-policy">Privacy and security</a> </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-4">
          <div class="usa-sign-up">
            <h3 class="usa-sign-up__heading">Sign up for PIF updates</h3>
            <!-- <form class="usa-form">
              <label class="usa-label" for="email" id="">Your email address</label>
              <input class="usa-input" id="email" name="email" type="email">
              <button class="usa-button" type="submit">Sign up</button>
            </form> -->
            <form class="usa-form" id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSATTS/subscriber/qualify?qsp=USGSATTS_1" accept-charset="UTF-8" method="post" target="_blank"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="BVsScV3cJRnFoVEu3356C3aW2YOaOpp/VH1/TrYPxME4KWzNT/7ABzgRFh1wpp3UA6+C6PZX4tirvSU4VE5KcQ==" />
              <!-- <label class="usa-label" for="email" id="">Your email address</label> -->
              <input class="usa-input" type="text" name="email" id="email" placeholder="Enter your email address" />
              <input class="usa-button" type="submit" name="commit" value="Submit" />
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include anchor.html %}
</footer>
