<!--
                      __,__r========qL,
                   ,m**`~'            XW;
            ____Lm/'      _mmmm    jW@+===m___,
      .m+*f~TX7''|    `Y*X@X7~MMLL          ._JXmL,
    jf~'    `YM#:~      !*##@ d j@~Y!     `~~~+m_
   Z            M       `Nd*=+5+      -====L__ !M-
  m!            `Y=;m_,   ~Yf~~               YL`W;
  |        .mmmmmqrL_XXX~*==mL,                 Y#|
  |  ,Z~~~~~'        ~~~~    X#         -==L__,  !#,
  | |tL             ____WY*f~~                `~qd#W
  V,| `~~Y*+mL_,  :f~~ ~                   q_    V#b
  `b|         `Y+-W;                        `\\,  _#
    V              N,  m                 YL,   `\L#@
                    N  #                   YL,   `##,
                   .P  #                     `\   V#|
                 ../   #           ^           YL |W
                -P     #    :P  ;  ||           `|!W
                Z'     #   :P  :'   #,           #L#
            _ _Wb    jWD  jf   /    |b           V@*
          j+N##8#4rt8#~.,jf    |    |#       b   |W
       .r*'m8####q#P8###*'    W    :##       V;  d|
      /K_jWK#X###~#|###mW#   :P  j;##|    #, `#, @
     !TGW###8#m#K7q=WWmd##mmm#m.Z8###!    #W  |b |
     /4#@##W#+##P:WZWMZ*W=m##WMN|WZWP:#;m,d#W;Dd |
    W*~~~M#W!KWjW5!!/WV##N7j#KXPNMX#DW###b###D#Xb|
   !'    d!JXXXW!`!Ldm@#bd#WW8K)X|X#8#8#K##V#!K5|#
        d@f~  jf.Z\/Vb*Y+W#j(WMZPrMM#@##K#@##;WWj##,
        ~    m*~'   '#`\8#W4KW#qX@VW##W#8##8#rNWK###G-
            `'       #`8*=#YWWK/b+WW#W#*#MWm8*KKd#M#**m,
                     #Z'  VW#f'~M+NM#####K#8@WLMZKX#W#+M;
                              ~` *YM#######@*)P/+DK####m#
                                   `'*##fXVPX|Vr~##Z#W@N@
                                      `WL_d**DfWX#8#WK##*b
                                                `W###@#N#/b
                                                 .#mj#X~YM#
                                                 ~`#WdD~  Y!
                                                 `'_|#f+-

  Like code? Want to make America more awesome?
  Apply to be a Presidential Innovation Fellow: /https://apply.pif.gov
  -->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <!-- general description of website -->
  <link href="{{ site.url }}/assets/images/favicon.ico" rel="shortcut icon" type"image/x-icon"/>

  <!-- Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta itemprop="image" content="{% if page.img %}{{ site.url }}/{{ page.img }}{% else %}{{ site.url }}/assets/images/pif-og.png{% endif %}"/>

  <!-- Facebook OG -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{% if page.title %}{{ site.url }}{{ page.permalink }}{% else %}{{ site.url }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{% if page.img %}{{ site.url }}/{{ page.img }}{% else %}{{ site.url }}/assets/images/pif-og.png{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="fb:admins" content="123456789" />

  <!-- Twitter -->
  <meta name="twitter:card" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:site" content="@innovfellows" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:creator" content="@innovfellows" />
  <meta name="twitter:image:src" content="{% if page.img %}{{ site.url }}/{{ page.img }}{% else %}{{ site.url }}/assets/images/pif-og.png{% endif %}" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->

  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <!-- Homepage CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/font-awesome-4.4.0/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <meta name="google-site-verification" content="9OPaWJkqzYYezi3lHsRy74Jlb15cotW5NPvKGSOMX-I" />
</head>
