<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQXNND"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQXNND');</script>
<!-- End Google Tag Manager -->

<header>

  <nav class="navbar navbar-default navbar-fixed-top nav-bg" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}{{ site.url }}">
          <img id="navbar-logo" src="{{ site.baseurl }}/assets/images/pif-header-full.png">
          <img id="navbar-logo-alt" src="{{ site.baseurl }}/assets/images/pif-header-logo-only.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}/fellows/"><h4>FELLOWS</h4></a></li>
          <li><a href="{{ site.baseurl }}/projects/"><h4>PROJECTS</h4></a></li>
          <li><a href="{{ site.baseurl }}/agencies/"><h4>AGENCIES</h4></a></li>
          <li><button class="btn btn-primary navbar-btn hidden-xs">APPLY TODAY</button></li>
        </ul>

      </div>
    </div>
  </nav>

</header>
