{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading display">
          Uniting innovators & federal leaders
        </h1>
        <h2>to improve government for every person in our country</h2>
        {% if site.apply_now %}
        <p><a class="usa-button usa-button--inverse" href="{{ site.baseurl }}/apply" target="_blank">Apply by September 30</a></p> 
        {% else %}
        <a class="usa-button usa-button--inverse" target="_blank" href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?qsp=USGSATTS_1" rel="noopener"> Sign up for PIF Updates</a>
        {% endif %}
        <p class="usa-hero__textlink">
          {% if site.apply_now %}
          <a href="{{ site.baseurl }}/apply" class="white">Apply:</a> Applications for the 2025 PIF cohort are now open. <br/>
          {% else %}
          <a href="{{ site.baseurl }}/apply" class="white">Apply:</a> Applications for the 2025 PIF cohort are now closed. Join our mailing list to <a href="{{ site.baseurl }}/apply" class="white" style="all: unset; text-decoration: underline;">receive alerts</a> <br/>
          {% endif %}
          <a href="{{ site.baseurl }}/agencies" class="white">Agencies:</a> <a href="https://airtable.com/appmoRzhg5rtU6vjj/pagmgNcA6o9ShsRA1/form" class="white" style="all: unset; text-decoration: underline;"> Submit a proposal </a>for our next cohort starting June 2025 now!  </br>
        </p>
      </div>
    </div>
  </div>
</section>
