{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading display">
          Uniting innovators & federal leaders
        </h1>
        <h2>to improve government for every person in our country</h2>
        {% if site.apply_now %}
        <p><a class="usa-button usa-button--inverse" href="https://www.usajobs.gov/job/724308900" target="_blank">Apply by July 7</a></p> 
        {% else %}
        <a class="usa-button usa-button--inverse" target="_blank" href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_70" rel="noopener"> Sign up for PIF Updates</a>
        {% endif %}
        <p class="usa-hero__textlink">
          <a href="https://www.whitehouse.gov/briefing-room/statements-releases/2023/10/30/fact-sheet-president-biden-issues-executive-order-on-safe-secure-and-trustworthy-artificial-intelligence/" target="_blank" class="white">News:</a>  The AI Executive Order announced October 30, 2023 directly references Presidential Innovation Fellows as part of the AI talent pipeline <br/>
          <a href="{{ site.baseurl }}/agencies" class="white">Agencies:</a> The PIF AI Cohort will start in June 2024. <a href="https://touchpoints.app.cloud.gov/touchpoints/a86e0543/submit" class="white" style="all: unset; text-decoration: underline;"> Submit a proposal </a>for our next cohort starting June 2025 now!  </br>
          <a href="https://www.gsa.gov/about-us/newsroom/news-releases/new-cohorts-of-presidential-innovation-fellows-will-focus-on-highimpact-priorities-ai-03252024" class="white">News:</a> PIF welcomed 21 new fellows in March 2024. Read the <a href="https://www.gsa.gov/about-us/newsroom/news-releases/new-cohorts-of-presidential-innovation-fellows-will-focus-on-highimpact-priorities-ai-03252024" class="white" style="all: unset; text-decoration: underline;">press release </a>and learn more about them <a href="{{ site.baseurl }}/fellows/2024/#fellows-select-year" class="white" style="all: unset; text-decoration: underline;">here.</a> 
        </p>
      </div>
    </div>
  </div>
</section>
