{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading display">
          Uniting innovators & federal leaders
        </h1>
        <h2>to improve the lives of the American people</h2>
        <a class="usa-button usa-button--inverse" href="{{ site.baseurl }}/apply">Join us</a>
        <p class="usa-hero__textlink">
          <a href="{{ site.baseurl }}/agencies" class="white">Agencies:</a> Learn how to work with Presidential Innovation Fellows
        </p>
      </div>
    </div>
  </div>
</section>
