{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}

<section class="usa-graphic-list usa-section">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block">
                <span class="graphic-icon__container">
                  {% asset highlight-fellows-meetup--cropped.jpg class="usa-media-block__img img-circle" alt="PIF Fellow speaking" %}
                  <div class="graphic-icon">
                    {% asset icons/building.png alt="people icon" %}
                  </div>
                </span>
                <div class="usa-media-block__body">
                    <div>
                      <h2 class="usa-graphic-list__heading">Our Impact</h2>
                      <p>Presidential Innovation Fellows (PIF) pairs private-sector technologists, designers, and strategists with top changemakers in the federal government for year-long residencies to pilot and scale bold solutions for public good.</p>
                      <p><a href="{{ site.baseurl }}/apply" class='alt'>Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="usa-graphic-list reverse usa-section">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block">
                <span class="graphic-icon__container">
                  {% asset homecoming-cropped.jpg class="usa-media-block__img img-circle" alt="PIF Fellow speaking" %}
                  <div class="graphic-icon">
                    {% asset icons/people.png alt="people icon" %}
                  </div>
                </span>
                <div class="usa-media-block__body">
                    <div>
                      <h2 class="usa-graphic-list__heading">Our Fellows</h2>
                      <p>Our Fellows are at the table and on the ground, using their expertise in data science, software, design, entrepreneurship, and more to address issues of national priority.</p>
                      <p><a href="{{ site.baseurl }}/fellows" class='alt'>Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="usa-graphic-list usa-section margin-bottom-5">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block">
                <span class="graphic-icon__container">
                  {% asset agency_logos.png class="usa-media-block__img img-circle" alt="PIF Fellow speaking" %}
                  <div class="graphic-icon">
                    {% asset icons/connect.png alt="connect icon" %}
                  </div>
                </span>
                <div class="usa-media-block__body">
                    <div>
                      <h2 class="usa-graphic-list__heading">Join Us</h2>
                      <p>PIF is a tech and innovation job unlike any other. For 1-2 years, you use your powers for good alongside incredible partners. And when you graduate from our program, you join our alumni community of 150+ technologists advancing mission-driven solutions at local, national, and international levels.</p>
                      <p>
                        <a href="{{ site.baseurl }}/apply">Potential Fellows</a>
                        <a href="{{ site.baseurl }}/agencies" class='alt'>Agency Partners</a>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
