{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}
<!--
                      __,__r========qL,
                   ,m**`~'            XW;
            ____Lm/'      _mmmm    jW@+===m___,
      .m+*f~TX7''|    `Y*X@X7~MMLL          ._JXmL,
    jf~'    `YM#:~      !*##@ d j@~Y!     `~~~+m_
   Z            M       `Nd*=+5+      -====L__ !M-
  m!            `Y=;m_,   ~Yf~~               YL`W;
  |        .mmmmmqrL_XXX~*==mL,                 Y#|
  |  ,Z~~~~~'        ~~~~    X#         -==L__,  !#,
  | |tL             ____WY*f~~                `~qd#W
  V,| `~~Y*+mL_,  :f~~ ~                   q_    V#b
  `b|         `Y+-W;                        `\\,  _#
    V              N,  m                 YL,   `\L#@
                    N  #                   YL,   `##,
                   .P  #                     `\   V#|
                 ../   #           ^           YL |W
                -P     #    :P  ;  ||           `|!W
                Z'     #   :P  :'   #,           #L#
            _ _Wb    jWD  jf   /    |b           V@*
          j+N##8#4rt8#~.,jf    |    |#       b   |W
       .r*'m8####q#P8###*'    W    :##       V;  d|
      /K_jWK#X###~#|###mW#   :P  j;##|    #, `#, @
     !TGW###8#m#K7q=WWmd##mmm#m.Z8###!    #W  |b |
     /4#@##W#+##P:WZWMZ*W=m##WMN|WZWP:#;m,d#W;Dd |
    W*~~~M#W!KWjW5!!/WV##N7j#KXPNMX#DW###b###D#Xb|
   !'    d!JXXXW!`!Ldm@#bd#WW8K)X|X#8#8#K##V#!K5|#
        d@f~  jf.Z\/Vb*Y+W#j(WMZPrMM#@##K#@##;WWj##,
        ~    m*~'   '#`\8#W4KW#qX@VW##W#8##8#rNWK###G-
            `'       #`8*=#YWWK/b+WW#W#*#MWm8*KKd#M#**m,
                     #Z'  VW#f'~M+NM#####K#8@WLMZKX#W#+M;
                              ~` *YM#######@*)P/+DK####m#
                                   `'*##fXVPX|Vr~##Z#W@N@
                                      `WL_d**DfWX#8#WK##*b
                                                `W###@#N#/b
                                                 .#mj#X~YM#
                                                 ~`#WdD~  Y!
                                                 `'_|#f+-
  Like code? Want to use your skills for public good?
  Apply to be a Presidential Innovation Fellow: https://apply.pif.gov
-->
<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{% if include.title %}{% if include.title == "Home" %}{{ site.title }}{% else %}{{ include.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}</title>
  <meta property="og:title" content="{% if include.title %}{% if include.title == "Home" %}{{ site.title }}{% else %}{{ include.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}">{% if include.description_apply %}
  <meta name="description" content="{{ include.description_apply }}">{% else %}
  <meta name="description" content="{{site.description}}">{% endif %}

  {% if include.description_apply %}
  <meta property="og:description" content="{{ include.description_apply }}">{% else %}
  <meta property="og:description" content="{{site.description}}">{% endif %}{% if include.description_apply %}
  <meta property="og:image" content="{% asset pif-application-2021.png @path %}">{% else %}
  <meta property="og:image" content="{% asset pif-nasa-square.jpg @path %}">{% endif %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{% if include.title %}{% if include.title == "Home" %}{{ site.title }}{% else %}{{ include.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}" />{% if include.description_apply %}
  <meta name="twitter:description" content="{{ include.description_apply }}" />{% else %}
  <meta name="twitter:description" content="{{site.description}}" />{% endif %}{% if include.description_apply %}
  <meta name="twitter:image" content="https://presidentialinnovationfellows.gov{% asset pif-application-2021.png @path %}" />{% else %}
  <meta name="twitter:image" content="https://presidentialinnovationfellows.gov{% asset pif-nasa-square.jpg @path %}" />{% endif %}

  <meta property="og:type" content="article">{% if page.url == "/projects/case-studies" %}
  <link rel="canonical" href="{{site.url}}/projects/">{% else %}
  <link rel="canonical" href="{{site.url}}{{page.url}}">{% endif %}

  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset favicon.ico @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon.png @path %}">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% asset favicon-192.png @path %}">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{% asset favicon-57.png @path %}">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicon-72.png @path %}">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicon-114.png @path %}">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicon-144.png @path %}">
  <!-- CSS
    ================================================== -->
  {% asset index.scss %}
  <meta name="google-site-verification" content="e6W37fYyyy6k_qp6E4A64dMwG8PozXZibjVG3J_bR94" />
</head>