{% assign agency_names = site.projects | map: 'agency' | uniq | sort %}

<div class="project-item__filters">
  <div>
    <select class="usa-select" name="project-agencies" id="project-agencies-select">
      <option value>Filter by agency</option>
      {% for name in agency_names %}
        <option value="{{ name | slugify }}">
          {{ name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <a href="{{ site.baseurl }}/projects/case-studies#project-list-case-studies" class="usa-button usa-button--small usa-button--outline usa-button--outline-light" id="project-list-case-studies">
      View all case studies
    </a>
    <a href="{{ site.baseurl }}/projects/projects-only#project-list-projects" class="usa-button usa-button--small usa-button--outline" id="project-list-projects">
      View all projects
    </a>
  </div>
</div>
