{% if project.status contains 'case_study' %}
  <div class="tablet:grid-col-4 project-item__outer {{ project.agency | slugify }}">
    <div class="project-item project-item--case-study">
      <a class="project-item__link" href="{{ site.baseurl }}{{ project.url }}">
        <div class="project-item__header">
          <span class="project-item__agency">
            {{ project.agency }}
          </span>
        </div>

        {% if project.cover_art %}
          <div class="project-item__image" style="background-image: url({% asset '{{ project.cover_art }}' @path %});">
          </div>
        {% endif %}

        <div class="project-item__content">
          <p class="project-item__title">
            {{ project.title }}
          </p>
          <p class="project-item__summary">
            {{ project.summary }}
          </p>

        </div>
      </a>
    </div>
  </div>

{% else %}
  <div class="tablet:grid-col-6 project-item__outer {{ project.agency | slugify }}">
    <div class="project-item">
      <a class="project-item__link" href="{{ site.baseurl }}{{ project.url }}">
        <div class="project-item__header">
          <span class="project-item__agency">
            {{ project.agency }}
          </span>
        </div>

        <div class="project-item__content">
          {% if include.project.agency_logo %}
            {% asset "{{ include.project.agency_logo }}" alt="{{ include.project.image_alt_text }}" class="project-item__logo" width="71" %}
          {% endif %}

          <p class="project-item__title">
            {{ include.project.title }}
          </p>
        </div>
      </a>
    </div>
  </div>
{% endif %}
