{% comment %}
  Quote area for the homepage
{% endcomment %}

<section class='usa-section usa-section--dark quote'>
  <div class="grid-container">
    <div class="grid-row flex-align-center">
      <div class="tablet:grid-col-3">
        {% asset likhitha-patha-headshot.jpg class="img-circle quote__image" alt="Profile photo of person quoted" %}
      </div>
      <div class="tablet:grid-col-8 quote__text">
        <div class="quote__mark--open">
          “
        </div>
        <blockquote>
          <p>Being a Fellow has been the highlight of my professional career. I am honored to take my private sector expertise and applying it to public service.</p>
          <footer>
            {% asset star.svg aria-hidden="true" %}
            <span class="quote__name">
              Name Nameson, Project with Agency X
            </span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

