{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-12">
      <h2 class="margin-top-0 tablet:margin-bottom-0">We are agents of change</h2>
      <p>We build human-centered solutions at scale to better serve, protect, and empower everyone in this country. Presidential Innovation Fellows (PIF) pairs the innovation economy’s technologists, designers, and strategists with top changemakers in the federal government for year-long residencies that are rooted in cutting-edge technology and citizen needs. Our Fellows are at the table and on the ground, improving data sharing across the healthcare ecosystem, combating climate change using AI, supporting veterans through mobile technology, and more.</p>
      <p><a class="usa-button usa-button--outline" href="{{ site.baseurl }}/about" class="font-ui-lg">Learn more about us</a></p>
    </div>
  </div>
</section>
