{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="grid-col-12 tablet:grid-col-8">
      <h1 class="margin-top-4 tablet:margin-bottom-0">
        We are <em>change agents.</em>
      </h1>
      <h2 class="body-intro">
        The most important part of technology is <em>people</em>. We unite our nation's brightest technologists, designers, and strategists with federal agencies as yearlong senior advisors. With our agency partners, we're building a resilient government. Our fellows co-create stronger public services using data science, design, engineering, product, and systems thinking. Read about our program, people, and impact in the <a href="https://presidentialinnovationfellows.gov/projects/">projects page</a>.
      </h2>
    </div>
  </div>
</section>
