{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="grid-col-12 tablet:grid-col-8">
      <h1 class="margin-top-4 tablet:margin-bottom-0">
        We are <em>change agents.</em>
      </h1>
      <h2 class="body-intro">
        The most important part of technology is <em>people</em>. PIF embeds the nation's top technologists, designers, and strategists within federal agencies as yearlong entrepreneurs in residence. With our agency partners, our fellows advise, rapidly prototype, and scale solutions using industry best practices across data science, design, engineering, product, and systems thinking. Our fellows serve as both strategic advisors and practitioners who build, test, and ship solutions. Read about our program, people, and projects in the <a href="https://pif.gov/impact">PIF Impact Report</a>.
      </h2>
    </div>
  </div>
</section>
