---
layout: default
---

<div class="container-fluid" id="hero">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Meet the Fellows</h1>
		</div>
	</div>
</div>
<div class="container" id="fellows">
	<div class="row text-center" id="filters">
		<div class="col-md-3 button-group" data-filter-group="year" id="year">
			<button class="btn btn-primary active" type="button" data-filter="">All Fellows</button><br/>
			<button class="btn btn-default" type="button" data-filter=".2014">2014</button>
	    <button class="btn btn-default" type="button" data-filter=".2013">2013</button>
			<button class="btn btn-default" type="button" data-filter=".2012">2012</button>
		</div>
		<div class="col-md-3 button-group hidden-sm hidden-xs" data-filter-group="region" id="region">
			<button class="btn btn-primary active" type="button" data-filter="">All Regions</button><br/>
			<button class="btn btn-default" type="button" data-filter=".northeast">Northeast</button>
			<button class="btn btn-default" type="button" data-filter=".midwest">Midwest</button>
			<button class="btn btn-default" type="button" data-filter=".south">South</button>
			<button class="btn btn-default" type="button" data-filter=".west">West</button>
			<button class="btn btn-default" type="button" data-filter=".outside">Outside US</button>
		</div>
		<div class="col-md-6 button-group hidden-sm hidden-xs" data-filter-group="skill" id="skill">
			<button class="btn btn-primary active" type="button" data-filter="">All Skills</button><br/>
			<button class="btn btn-default" type="button" data-filter=".policy">Policy</button>
			<button class="btn btn-default" type="button" data-filter=".front">Front End Dev</button>
			<button class="btn btn-default" type="button" data-filter=".data">Data Viz</button>
			<button class="btn btn-default" type="button" data-filter=".product">Product</button>
			<button class="btn btn-default" type="button" data-filter=".ux">UX</button>
			<button class="btn btn-default" type="button" data-filter=".comm">Marketing &amp; Comms</button>
			<button class="btn btn-default" type="button" data-filter=".bd">Biz Dev</button>
			<button class="btn btn-default" type="button" data-filter=".back">Back End Dev</button>
			<button class="btn btn-default" type="button" data-filter=".design">Design</button>
			<button class="btn btn-default" type="button" data-filter=".cyber">Cyber Security</button>
			<button class="btn btn-default" type="button" data-filter=".digital">Digital Strategy</buttton>
		</div>
	</div>
	<div class="row" id="fellow">
		{% for pif_hash in site.data.pifs %}
		{% assign pif = pif_hash[1] %}
			<div class="fellow {{ pif.year }} {{ pif.region }} {% for skill in pif.skills %}{{ skill }} {% endfor %} col-md-6 col-sm-4 col-xs-6">
				<div class="row">
					<div class="col-md-6">
						<img src="/images/{{ pif.year }}/{{ pif.img }}" class="img-responsive">
					</div>
					<div class="col-md-6 hidden-xs" id="fellow-info">
						<h4><strong>{{ pif.name }}</strong><br/><small><em>{{ pif.hometown }}</em></small></h4>
    				<p>{{ pif.bio }} (<a data-toggle="modal" data-target="#{{ pif.id }}-modal">Read more</a>)</p>
					</div>
				</div>
			</div>

			<!-- modal -->
			<div class="modal fade fellow-modal" id="{{ pif.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ pif.id }}-label" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="{{ pif.id }}-label"><strong>Biographical Details</strong></h4>
			      </div>
			      <div class="modal-body">
			      	<div class="container-fluid">
			      		<div class="row">
			      			<div class="col-sm-4">
			      				<img src="/images/{{ pif.year }}/{{ pif.img }}" class="img-responsive">
			      			</div>
			      			<div class="col-sm-8" id="fellow-bio-details">
			      				<h4><strong>{{ pif.name }}</strong><br/><small><em>{{ pif.hometown }}</em></small></h4>
			      				<h5>Class of {{ pif.year }}</h5>
			      				<p id="fellow-skills">
			      					{% for skill in pif.skills %}
			      						{% case skill %}

	      								{% when 'front' or 'data' or 'back' %}
		      								<span class="label label-primary">
		      									{% if skill == 'front' %}
		      										Front End
		      									{% elsif skill == 'back' %}
		      										Back End
		      									{% else %}
		      										Data Viz
		      									{% endif %}
		      								</span>
		      							{% when 'digital' or 'policy' %}
		      								<span class="label label-warning">
		      									{% if skill == 'digital' %}
		      										Digital Strategy
		      									{% else %}
		      										Policy
		      									{% endif %}
		      								</span>
		      							{% when 'comms' or 'bd' %}
		      								<span class="label label-success">
		      									{% if skill == 'comms' %}
		      										Marketing &amp; Comms
		      									{% else %}
		      										Biz Dev
		      									{% endif %}
		      								</span>
		      							{% when 'ux' or 'product' %}
		      								<span class="label label-info">
		      									{% if skill == 'ux' %}
		      										UX
		      									{% else %}
		      										Product
		      									{% endif %}
		      								</span>
		      							{% when 'cyber' %}
		      								<span class="label label-danger">
		      									Cyber
		      								</span>
			      						{% endcase %}
			      					{% endfor %}
			      				</p>
			      			</div>
			      			<div class="col-sm-4">
			      			</div>
			      		</div>
			      		<br/>
			      		<div class="row">
			      			<div class="col-sm-2">
			      				<p><strong>PROJECT(S):</strong></p>
			      			</div>
			      			<div class="col-sm-10">
			      				<ul id="fellow-projects">
			      					{% for current_projects_hash in site.data.current_projects %}
			      					{% assign current_project = current_projects_hash[1] %}
			      						{% for current_project_pif in current_project.pifs %}
			      							{% if current_project_pif == pif.id %}
			      								<li>{{ current_project.agency }} <i class="fa fa-caret-right"></i> {{ current_project.name }}</li>
			      							{% endif %}
			      						{% endfor %}
			      					{% endfor %}
			      					{% for previous_projects_hash in site.data.previous_projects %}
			      					{% assign previous_project = previous_projects_hash[1] %}
			      						{% for previous_project_pif in previous_project.pifs %}
			      							{% if previous_project_pif == pif.id %}
			      								<li>{{ previous_project.agency }} <i class="fa fa-caret-right"></i> {{ previous_project.name }}</li>
			      							{% endif %}
			      						{% endfor %}
			      					{% endfor %}
			      				</ul>
			      			</div>
			      		</div>
			      		<div class="row">
			      			<div class="col-md-12">
			      				<p>{{ pif.bio_full }}</p>
			      			</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			</div>	
		{% endfor %}
	</div>
</div>

