$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

@font-face{
  font-family: 'Avenir Light';
  src: url('/assets/fonts/AvenirLTStd-Light.eot');
  src: url('/assets/fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/AvenirLTStd-Light.svg#webfont') format('svg'),
  url('/assets/fonts/AvenirLTStd-Light.woff') format('woff'),
  url('/assets/fonts/AvenirLTStd-Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Avenir Medium';
  src: url('/assets/fonts/AvenirLTStd-Medium.eot');
  src: url('/assets/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/AvenirLTStd-Medium.svg#webfont') format('svg'),
  url('/assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
  url('/assets/fonts/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Avenir Heavy';
  src: url('/assets/fonts/AvenirLTStd-Heavy.eot');
  src: url('/assets/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/AvenirLTStd-Heavy.svg#webfont') format('svg'),
  url('/assets/fonts/AvenirLTStd-Heavy.woff') format('woff'),
  url('/assets/fonts/AvenirLTStd-Heavy.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

html{
  position:relative;
  min-height:100%;
}

body{
  font-family:'Avenir Light';
  strong{
    font-family:'Avenir Medium';
  }
  h1{
    font-size:3.7em;
  }
  h2{
    font-size:3.1em;
  }
  h3{
    font-family:'Avenir Heavy';
    font-size:2.1em;
    padding-bottom:20px;
    color:$gray;
  }
  h4{
    font-size:1.6em;
    line-height:30px;
  }
  h5{
    font-size:1.3em;
    line-height:28px;
    color:$gray-dark;
  }
}


/**
 * Site header
 */
 .site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


// HEADER
.navbar{
  background-color:transparent;
  border-color:transparent;
  .navbar-brand{
    font-size:1em;
    img{
      height:50px;
    }
  }
  .btn{
    font-size:1.5em;
    letter-spacing:1px;
  }
  .navbar-btn{
    margin-top:19px;
    margin-left:20px;
  }
  h4{
    color:$gray-lighter;
  }
  .nav{
    h4{
      letter-spacing:2px;
    }
  }
}
.nav-bg{
  background-color:#3C547C;
  border-color:#2D3D59;
  transition:0.25s;
}

// FOOTER
#footer{
  bottom:0px;
  position:absolute;
  width:100%;
  padding-bottom:75px;
  background-color:#3C547C;
  #footer-text{
    margin-top:50px;
    margin-bottom:25px;
  }
  ul{
    list-style-type: none;
    padding-left:0px;
    li{
      h4{
        color:$gray-lighter;
      }
      a{
        color:$gray-lighter;
        &:hover, &:focus{
          text-decoration:none;
        }
      }
    }
  }
  img{
    display:block;
  }
  #gov-links{
    a, p{
      color:$gray-lighter;
    }
    p{
      padding-top:10px;
      padding-bottom:10px;
      border-top-style:solid;
      border-top-width: 1px;
      border-top-color:$gray-lighter;
      border-bottom-style:solid;
      border-bottom-width: 1px;
      border-bottom-color:$gray-lighter; 
    }
  }
  #disclaimer{
    margin-top:25px;
    a, p{
      color:$gray-lighter;
    }
    p{
      padding-top:5px;
    }
  }
}

// GENERAL
#cta{
  background-color:#D8D8D8;
  padding-top:10px;
  padding-bottom:5px;
  .btn-lg{
    font-size:.7em;
    margin-left:10px;
  }
}

// HOME
#home-hero{
  background-image:url('/assets/images/pif-hero.png');
  background-attachment:scroll;
  background-repeat:no-repeat;
  background-position:center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1{
    color:$gray-lighter;
    display:block;
    position:relative;
    small{
      color:$gray-lighter;
    }
  }
}
#home-cta{
  margin-top:-28px;
  .btn{
    font-size:2.1em;
    letter-spacing:1px;
    padding:10px 15px;
  }

}
#home{
  #mission{
    padding-top:25px;
    padding-bottom:65px;
    h4{
      padding-top:10px;
    }
    #president-seal, #beta-logo{
      height:150px;
    }
  }
  #process{
    padding-top:50px;
    padding-bottom:75px;
    background-color:#FFEAD2;
    h2{
      font-size:2.4em;
    }
  }
  #map{
    padding-top:65px;
    #map-stats{
      h3{
        padding-bottom:0px;
        margin-bottom:0px;
      }
      h4{
        margin-top:0px;
      }
    }
    h2{
      font-size:2.4em;
      margin-bottom:25px;
    }
  }
  #fellow-preview{
    .carousel{
      height:225px;
    }
    .carousel-control{
      color:$gray-darker;
      top:15%;
    }
    .carousel-indicators{
      bottom:0px;
    }
    .carousel-indicators li {
      border:1px solid $gray-dark;
    }
    .carousel-indicators .active{
      background-color:$gray-dark;
    }
    .carousel-control.right, .carousel-control.left{
      background-image:none;
    }
    #carousel-bio{
      border-left-style:solid;
      border-left-width: 1px;
      border-left-color:$gray-darker;
    }
    h2{
      font-size:2.4em;
      padding-bottom:35px;
    }
  }
  hr{
    width:80%;
  }
  #project-preview{
    padding-bottom:125px;
    .panel{
      min-height:350px;
    }
    h2{
      font-size:2.4em;
      padding-bottom:10px;
    }
    #video_player { 
      display: table; 
      line-height: 0; 
      font-size: 0; 
      background: #000;
      margin-left:auto;
      margin-right:auto;
    }
    #video_player video, #video_player figcaption { 
      display: table-cell; 
      vertical-align: top; 
    }
    #video_player figcaption { 
      width: 16%; 
    }
    #video_player figcaption a { 
      display: block; 
      opacity: .5;
      transition: 1s opacity; 
    }
    #video_player figcaption a img, figure video { 
      width: 100%; 
      height: auto; 
    }
    #video_player figcaption a:hover { 
      opacity: 1; 
    }
  }
}

@media (max-width: 700px) {
#video_player video, #video_player figcaption { display: table-row; }
#video_player figcaption a { display: inline-block; width: 33.33%; }
}

// OTHER PAGES
#hero{
  margin-top:81px;
  padding-top:50px;
  padding-bottom:50px;
  background-color:#D8D8D8;
}

// ABOUT
#about{
  padding-top:50px;
  padding-bottom:75px;
}

// FELLOWS
#fellows{
  padding-top:50px;
  padding-bottom:75px;
  #filters{
    padding-bottom:75px;
    button{
      margin-bottom:5px;
    }
    h4{
      margin-bottom:0px;
    }
    hr{
      margin-top:0px;
      margin-bottom:10px;
    }
  }
  .row.fellow{
    margin-left:0;
    margin-right:0;
  }
  .fellow{
    padding-bottom:15px;
    #fellow-info{
      h4{
        line-height:1em;
      }
    }
    span{
      display:block;
      position:relative;
      top:-90px;
      visibility:hidden;
    }
  }
}

.fellow-modal{
  #fellow-modal-headshot{
    img{
      padding-top:10px;
    }
  }
  .modal-title{
    margin-top:0px;
  }
  h4{
    margin-top:20px;
    line-height:1em;
  }
  h5{
    line-height:1.3em;
  }
  ul{
    /*list-style-type:none;*/
    padding-left:15px;
  }
  hr{
    margin-top:2px;
    margin-bottom:5px;
  }
  i{
    margin-left:5px;
    margin-right:5px;
  }
  #fellow-modal-agency{
    padding-left:0px;
  }
  #fellow-modal-agency-name{
    margin-bottom:0px;
  }
  #fellow-modal-bio{
    padding-top:15px;
  }
  #fellow-skills{
    line-height:1.9em;
    .label{
      padding: 5px;
      font-size:90%;
      margin-right:5px;
    }
  }
  #fellow-agency-list{
    margin-bottom:7px;
  }
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .fellow {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .fellow {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

// PROJECTS
#projects{
  padding-top:50px;
  padding-bottom:75px;
  h3{
    margin-bottom:0px;
    padding-bottom:0px;
  }
  h5{
    margin-bottom:0px;
  }
  hr{
    margin-top:10px;
  }
  #case-studies{
    h5{
      line-height:22px;
    }
    .panel{
      &:hover{
        box-shadow:0px 0px 7px #888;
        cursor:pointer;
      }
      .panel-body{
        padding:0px;
        img{
          border-top-left-radius:3px;
          border-top-right-radius:3px;
        }
        .panel-text{
          padding-left:10px;
          padding-right:10px;
          padding-bottom:5px;
          p{
            padding-top:7px;
          }
        }
      }
    }
  }
  #current-projects{
    h4{
      margin-bottom:0px;
    }
    h5{
      margin-top:0px;
    }
    span{
      display:block;
      position:relative;
      top:-90px;
      visibility:hidden;
    }
  }
  #previous-projects{
    span{
      display:block;
      position:relative;
      top:-90px;
      visibility:hidden;
    }
  }
}

.project-modal{
  h5{
    line-height:22px;
    margin-bottom:15px;
  }
  hr{
    margin-top:10px;
    margin-bottom:15px;
  }
}


// LEADERSHIP
#leadership{
  padding-top:50px;
  padding-bottom:75px;
  h3{
    margin-top:5px;
    padding-bottom:0px;
    margin-bottom:0px;
  }
  h4{
    margin-top:0px;
    margin-bottom:0px;
  }
  hr{
    margin-top:5px;
  }
  #leadership-bio{
    margin-bottom:75px;
  }
}

// FAQ
#faq{
  padding-top:50px;
  padding-bottom:75px;
}

// AGENCIES
#agencies{
  padding-top:50px;
  padding-bottom:75px;
  h4{
    margin-bottom:0px;
    margin-top:0px;
  }
  hr{
    margin-top:5px;
  }
  ul{
    list-style-type:none;
  }
  img{
    margin-right:5px;
    margin-bottom:5px;
  }
  #agency-fellow-list{
    padding-left:0px;
    ul{
      padding-left:0px;
      li{
        display: inline-block;
      }
    }
  }
}

// Intake
#proposal{
  padding-top:50px;
  padding-bottom:150px;
  #lengthRadios3, #presRadios6, #ctoRadios3{
    margin-top:9px;
  }
  #other-form{
    position:relative;
    display:inline-block;
  }
}

// PRIVACY
#privacy{
  padding-top:50px;
  padding-bottom:75px;
}

// BetaLab
#betalab{
  padding-top:50px;
  padding-bottom:75px;
}

// Large and medium devices (desktops)
@media (min-width: 992px) {
  // GENERAL
  body{
    margin-bottom:650px;
  }
  #cta{
    h4{
      font-size:2.8em;
    }
  }
  .navbar{
    .container-fluid{
      padding-left:50px;
      padding-right:50px;
    }
    .navbar-brand{
      #navbar-logo-alt{
        display:none;
      }
      #navbar-logo{
        display:block;
      }
    }
  }

  // HOME
  #home{
    #fellow-preview{
      padding-top:65px;
      padding-bottom:50px;
    }
    #project-preview{
      padding-top:25px;
    }
    #map{
      padding-bottom:75px;
    }
  }
}

// large devices (desktops)
@media (min-width: 1200px) {

  // HOME
  #home{
    #fellow-preview{
      #fellow-preview-quote{
        /*padding-top:23px;*/
      }
      #carousel-bio{
        h4{
          padding-top:0px;
        }
      }
    }
    #map{
      #map-stats{
        padding-top:65px;
        h3{
          font-size:4.3em;
        }
      }
    }
    #process{
      #nerd{
        height:200px;
      }
      #light-bulb{
        height:180px;
      }
      #govt{
        height:275px;
      }
      #plus{
        height:75px;
        padding-right:50px;
        padding-left:15px;
      }
      #equal{
        height:75px;
        padding-left:50px;
        padding-right:15px;
      }
    }
  }

  // PROJECTS
  #projects{
    #case-studies{
      .panel{
        min-height:330px;
      }
    }
  }

  // AGENCIES
  #agencies{
    #agency-fellow-list{
      img{
        max-height:73px;
      }
    }
    #agency-item{
      margin-bottom:65px;
    }
  }

}

// medium devices (desktops)
@media (min-width: 992px) and (max-width: 1199px) {
  // HOME
  #home-hero{
    h1{
      font-size:3em;
    }
  }
  #home{
    #fellow-preview{
      #fellow-preview-quote{
        padding-top:0px;
      }
      #carousel-bio{
        h4{
          padding-top:0px;
        }
        h5{
          margin-bottom:0px;
        }
      }
    }
    #map{
      #map-stats{
        padding-top:50px;
        h3{
          font-size:3.8em;
        }
      }
    }
    #process{
      #nerd{
        height:150px;
      }
      #light-bulb{
        height:135px;
      }
      #govt{
        height:225px;
      }
      #plus{
        height:50px;
        padding-right:25px;
        padding-left:5px;
      }
      #equal{
        height:50px;
        padding-left:25px;
        padding-right:5px;
      }
    }
  }

  // PROJECTS
  #projects{
    #case-studies{
      .panel{
        min-height:303px;
      }
    }
  }

  // AGENCIES
  #agencies{
    #agency-fellow-list{
      img{
        max-height:75px;
      }
    }
    #agency-item{
      margin-bottom:50px;
    }
  }
}

// Small devices and Phones (991px and less)
@media (max-width: 991px) {
  .navbar{
    .navbar-brand{
      #navbar-logo{
        display:none;
      }
      #navbar-logo-alt{
        display:block;
      }
    }
  }
  #home{
    #map{
      padding-bottom:45px;
    }
  }
}

// small devices (tablets)
@media (min-width: 768px) and (max-width: 991px) {
  // GENERAL
  body{
    margin-bottom:650px;
  }
  #cta{
    h4{
      font-size:2em;
    }
  }
  .navbar{
    .container-fluid{
      padding-left:25px;
      padding-right:25px;
    }
  }

  // HOME
  #home-hero{
    h1{
      font-size:2.7em;
    }
  }
  #home{
    #fellow-preview{
      padding-top:50px;
      padding-bottom:25px;
    }
    #project-preview{
      padding-top:45px;
    }
    #process{
      #nerd{
        height:150px;
      }
      #light-bulb{
        height:135px;
      }
      #govt{
        height:225px;
      }
      #plus{
        height:50px;
        padding-right:25px;
        padding-left:5px;
      }
      #equal{
        height:50px;
        padding-left:25px;
        padding-right:5px;
      }
    }
  }

  // PROJECTS
  #projects{
    #case-studies{
      .panel{
        min-height:337px;
      }
    }
  }

  // AGENCIES
  #agencies{
    #agency-fellow-list{
      img{
        max-height:77px;
      }
    }
    #agency-item{
      margin-bottom:35px;
    }
  }
}

// extra small devices (phones)
@media (max-width: 767px){
  // GENERAL
  body{
    margin-bottom:775px;
  }
  .navbar{
    min-height:81px;
    .navbar-toggle{
      margin-top:21px;
    }
    .navbar-collapse{
      margin-top:21px;
    }
  }
  #cta{
    h4{
      font-size:1.8em;
    }
    #cta-span{
      height:0px;
    }
  }
  #hero{
    padding-top:20px;
    padding-bottom:20px;
  }

  // FOOTER
  #footer{
    height:775px;
    #footer-text{
      text-align:center;
    }
    img{
      margin-left:auto;
      margin-right:auto;
    }
    #gov-links{
      text-align:center;
    }
    #disclaimer{
      text-align:center;
    }
  }

  // HOME
  #home-hero{
    background-position: 20% top;
    h1{
      font-size:1.9em;
    }
  }
  #home{
    #fellow-preview{
      h2{
        font-size:2em;
        padding-bottom:20px;
      }
      padding-top:50px;
      padding-bottom:15px;
    }
    #project-preview{
      h2{
        font-size:2em;
      }
      padding-top:5px;
      .panel{
        margin-left:50px;
        margin-right:50px;
      }
    }
    #process{
      padding-top:30px;
      padding-bottom:25px;
      h2{
        font-size:2em;
      }
      #govt{
        height:200px;
        margin-top:-25px;
      }
    }
    #map{
      padding-top:30px;
      h2{
        font-size:2em;
      }
    }
  }

  // FELLOWS
  .fellow-modal{
    #fellow-modal-agency{
      padding-left:15px;
    }
  }

  // LEADERSHIP
  #leadership{
    text-align:center;
    img{
      max-height:200px;
      display:block;
      margin:auto;
    }
  }

  // AGENCIES
  #agencies{
    #agency-fellow-list{
      img{
        max-height:80px;
      }
    }
    #agency-item{
      margin-bottom:25px;
    }
  }
}

