.agency-partner-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-right: 1em;
    width: 5em;

    img {
      width: 100%;
    }
  }
}

.press-snippets {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding-bottom: 2.75em;
  }
}

.project-agencies {
  margin-bottom: 4em;
}

.project-agencies,
.project-team {

  h1 {
    font-size: 2em;
  }

  header {
    margin-bottom: 1em;
  }
}

.project-impact {
  background: #337ab7;
  padding: 2em 0 2em;
  color: #dedede;
  text-align: center;
  h1 {
    color: $white;
    font-size: 2em;
    margin: 0;
    line-height: 1.15em;
    text-align: center;
  }
  .impact-container {
    margin: 0 auto;
    text-align: center;
  }
  .impacts {
    display: inline-block;
    padding: 25px 0;
  }
  .impact-box {
  padding: 5px 5px;
  margin: 5px 40px;
  text-align: center;
  float: left;
  color: #dedede;
    span {
    font-weight: bold;
    color: $white;
    font-size: 3em;
    display: block;
    }
  }
  img {
  display: block;
  margin: 0 auto -2em auto;
  }
}

.project-info {
  padding: 4em 0 3em;

  a {
    font-size: 1.1em;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 0;
  }

  h2 {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .project-description {
    font-size: 1.3em;
  }

  .project-image {

    img {
      /* width: 100%; */
      max-width: 300px;
    }
  }

  .usa-width-one-half {
    @include span-columns(6);
  }
}

.project-press {
  padding: 4em 0 3em;

  h1 {
    font-size: 2em;
  }

  .border-seperator {
    border-top: 2px solid $gray-light;
    height: 2px;
    margin-bottom: 0.5em;
    width: 50px;
  }

  .press-attribution {
    font-size: 1.2em;
  }

  .press-description {
    margin-left: 230px;

    .press-quote {
      color: $gray;
      font-size: 1.6em;
      margin-bottom: 0.2em;
    }
  }

  .press-logo {
    float: left;
    height: 100px;
    width: 200px;

    img {
      margin: 0 auto;
      max-height: 100px;
      max-width: 180px;
    }
  }
}

.project-team {
  margin-bottom: 4em;

  img {
    border-radius: 50%;
    width: 100%;
  }

  li {
    @include span-columns(2);
    list-style: none;
    margin-right: 1em;
    width: 5em;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.usa-project-banner {
  background-size: cover;
  padding-top: 80px;
  text-align: center;

  .container {
    @include outer-container;
  }

  .container-fluid {
    max-width: 50em;
  }

  .impact-statement {
    color: $white;
    font-size: 3.75em;
    font-weight: normal;
    text-shadow: 0 2px 2px rgba($black, 0.1);
  }

  .challenge-question {
    color: $white;
    font-size: 3.25em;
    font-weight: normal;
    text-shadow: 0 2px 2px rgba($black, 0.1);

  }

  .more_detail {
  
  }

  .project-banner-content {
    padding: 8em 0 12em;
  }
}

.caption {
  margin: 10px auto;
  padding: 5px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}

.case-study-item.true  {
  display: block;
}

.case-study-item.false {
  display: none;
}

.case-study-slideshow  {
  .thumb {
    border: 4px solid #D8D8D8;
    margin: 0 20px 20px 0;
    max-width: 75px;
    float: left;
  }
  .thumb.true {
    border-color: #337ab7;
  }
}

.case-study-slideshow  {
  .thumb {
    border: 4px solid #D8D8D8;
    margin: 0 20px 20px 0;
    max-width: 75px;
    float: left;
  }
  .active {
  border-color: #337ab7;
  }
}

.project-categories {
  margin: 0 10px 4em 10px;
  h1 {
  font-size: 2em;
  }
  a {
    font-size: 1.5em;
    margin-right: 1.5em;
  }
  .border-seperator {
    border-top: 2px solid $gray-light;
    height: 2px;
    margin-bottom: 0.5em;
    width: 50px;
  }
}

ul.potential-projects li {
  text-align: left;
  font-size: 1.2em;
  padding: 5px 0px;
}

.next-projects {
  font-size: 1.2em; 
  /* border: 1px solid #000000; */
  text-align: left;
}

div.next-projects img {
  height: 100px;
  width: 100px;
}