---
layout: wide
title: About Us
permalink: /about/
redirect_from:
  - /pages/about.html
footer_tagline: alt
---

<div class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Who We Are
      </h1>
    </div>
  </div>
</div>

<section class="usa-section page-header bg--lightest">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-8 desktop:padding-right-4">
        <h1>Our <em>mission</em></h1>
        <p class='body-intro'>
          Embed industry’s top technologists and innovators within federal agencies to improve the way our government builds, designs, and delivers services.
        </p>
      </div>
      <div class="display-block tablet:grid-col-4">
        <img src="{{site.baseurl}}/assets/images/banners/about-our-mission.webp" class="usa-media-block__img img-circle" alt="PIF Fellow speaking"/>
      </div>
    </div>
  </div>
</section>

<section class="story">
  <div class="usa-section grid-container usa-prose">
    <div class="grid-row">
      <div class="desktop:grid-col-6 story__left">
        <h2><span class="story__text-em">Who</span> we are</h2>
        <p>Presidential Innovation Fellows are a multidisciplinary team of product designers, full-stack engineers, and VC-backed founders. We’re also artists. Parents. Veterans. Walking into the office, we all share a passion for civic purpose—people helping people.</p>
      </div>
      <div class="desktop:grid-col-6 story__right">
        <h2 class="text-primary-vivid">
          <span class="story__text-em">What</span> we do
        </h2>
        <p>Hand-in-hand with federal agency leaders, we identify innovation opportunities of critical agency and/or national priority. As we do so, our team recruits outstanding technologists. And then, we unite. PIF embeds the nation's top engineers, designers, and strategists within agencies as yearlong senior advisors. With our agency partners, our fellows advise, prototype, and scale solutions using industry best practices across data science, design, engineering, product, and systems thinking.</p>
      </div>
    </div>
  </div>
</section>

<section class="usa-section usa-section--dark bg-primary--dark">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">
        <h2 class="as-h1 text-light">
          Our <em>values</em>
        </h2>
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4 desktop:margin-bottom-5">
        <div class="display-flex flex-align-center height-10">
          <img src="{{site.baseurl}}/assets/images/icons/courageous-icon.png" class="padding-right-2 width-10" aria-hidden="true"/>
          <h3 class="body-intro body-intro--italic body-intro--tight margin-0">
            Servant Leadership
          </h3>
        </div>
        <p>Selfless service of partners and the public to achieve effective outcomes, while bringing others along the journey with integrity, empathy, and humility.</p>
      </div>
      <div class="desktop:grid-col-4 desktop:margin-bottom-5">
        <div class="display-flex flex-align-center height-10">
           <img src="{{site.baseurl}}/assets/images/icons/app-icon.png" class="padding-right-2 width-10" aria-hidden="true"/>
          <h3 class="body-intro body-intro--italic body-intro--tight margin-0">
            User-Centered Innovation
          </h3>
        </div>
        <p>Create an environment that prioritizes the user’s needs to iterate toward new solutions; create government products and processes that are intuitive, streamlined, and efficient.</p>
      </div>
      <div class="desktop:grid-col-4 desktop:margin-bottom-5">
        <div class="display-flex flex-align-center height-10">
           <img src="{{site.baseurl}}/assets/images/icons/diversity-icon.png" class="padding-right-2 width-10" aria-hidden="true"/>
          <h3 class="body-intro body-intro--italic body-intro--tight margin-0">
            Collaborative Community
          </h3>
        </div>
        <p>Nothing happens in government alone; as individuals, we often own specific outcomes, but we have shared ownership of our mission. Cultivate empathy; invest in each other; facilitate serendipity.</p>
      </div>
</section>

{% include_cached quote.html light=true image="/assets/images/fellows/2019/clarice-chan-headshot.jpg" quote="Working alongside passionate, motivated, do-good innovators to make important change in government has been an absolute honor. This community makes me proud." name="Clarice Chan, 2019-2020 PIF, detailed to U.S. Department of Veterans Affairs" %}
<section class="usa-section">
  <div class="grid-container">
    {% include_cached touchpoint-survey-script.html %}
  </div>
</section>