/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.4.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://designsystem.digital.gov/design-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family: "gray-cool";
$theme-color-base-lightest: "gray-cool-3";
$theme-color-base-lighter: "gray-cool-10";
$theme-color-base-light: "gray-cool-20";
$theme-color-base: "gray-cool-50";
$theme-color-base-dark: "gray-cool-60";
$theme-color-base-darker: "gray-cool-70";
$theme-color-base-darkest: "gray-cool-80";
$theme-color-base-ink: "gray-cool-80";

// Primary colors
$theme-color-primary-family: "gold";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "gold-5";
$theme-color-primary-light: "gold-20";
$theme-color-primary: "gold-40v";
$theme-color-primary-vivid: "gold-30v";
$theme-color-primary-dark: "gold-50v";
$theme-color-primary-darker: "gold-60";
$theme-color-primary-darkest: false;

// Secondary colors
$theme-color-secondary-family: "blue";
$theme-color-secondary-lightest: "blue-warm-5";
$theme-color-secondary-lighter: "blue-warm-10";
$theme-color-secondary-light: "blue-warm-20";
$theme-color-secondary: "blue-50v";
$theme-color-secondary-vivid: "blue-warm-50v";
$theme-color-secondary-dark: "blue-warm-70";
$theme-color-secondary-darker: "blue-warm-80";
$theme-color-secondary-darkest: false;

$theme-button: "gold-40v";
