/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS - PIF THEME STYLES
----------------------------------------
*/

// .tablet\:width-1\/3 {
//   width: 33%;
// }
// .tablet\:float-left {
//   float: left;
// }


.usa-button:hover, .usa-button.usa-button--hover

// Buttons
.usa-button {
  &:hover, &.usa-button--hover {
    @include u-bg('primary-vivid');
    &.usa-button--outline {
      box-shadow: $button-stroke color("primary");
      color: color("primary");
      background-color: color("transparent");
      &:hover,
      &.usa-button--hover {
        box-shadow: $button-stroke color("primary-vivid");
        color: color("primary-vivid");
      }
      &:active,
      &.usa-button--active {
        box-shadow: $button-stroke color("primary-vivid");
        color: color("primary-vivid");
      }
      &.usa-button--inverse:hover {
        background-color: color("transparent");
        color: #fff;
        box-shadow: $button-stroke #fff;
      }
    }
  }
}


// Navigation
.usa-navbar {
  border-bottom: none;
}
.usa-nav__primary > .usa-nav__primary-item > a, .usa-nav__primary button, .usa-nav__primary button span {
  @include at-media('desktop') {
    color: #fff;
    position: relative;
  }
}
.usa-nav__primary .usa-current, .usa-nav__primary a:hover {
  @include u-text('primary-darker');
}
.usa-nav__primary-item .usa-current::after,  .usa-nav__primary-item .usa-nav__link:hover::after {
  @include u-bg('primary-darker');
  @include at-media('desktop') {
    background-color: #fff;
    border-radius: 0;
    content: "";
    display: block;
    position: absolute;
    height: .25rem;
    left: 1rem;
    right: 1rem;
    bottom: 0;
  }
}
.usa-nav__primary-item:last-child .usa-nav__link:hover::after, .usa-nav__primary-item .usa-button.usa-current::after  {
  @include at-media('desktop') {
    display: none;
  }
}
.usa-nav__primary button[aria-expanded=true], .usa-nav__submenu {
  @include at-media('desktop') {
    background: #fff;
  }
}
.usa-nav__primary button[aria-expanded=true], .usa-nav__primary button[aria-expanded=true] span, .usa-nav__primary button[aria-expanded=true], .usa-nav__primary button[aria-expanded=true] span, .usa-nav__submenu .usa-nav__submenu-item a, .usa-nav__submenu .usa-nav__submenu-item a:hover {
  @include at-media('desktop') {
    @include u-text('primary-darker');
  }
}
.usa-nav__primary > .usa-nav__primary-item > a:hover {
  @include at-media('desktop') {
    color: #fff;
  }
}


// Pagination
.paginate-link {
  display: none;
  @include at-media('tablet') {
    display: initial;
  }
}
.paginate-button {
  display: block;
  @include at-media('tablet') {
    display: none;
  }
}

// Breadcrumb
.breadcrumb {
  padding: units(2);
  display: none;
  @include at-media('tablet') {
    display: block;
  }
}

.usa-intro {
  margin: 0;
}
.project-question {
  background-image: url(asset_path("question.svg")), linear-gradient(transparent, transparent);
  background-position: units('205');
  background-repeat: no-repeat;
  background-size: units(7);
  padding: units(1) units(2);
}

.project-question .usa-intro {
  padding-left: units(9);
  margin: units(1) 0;
}

.project-image {
  @include u-width('card');
  margin: units(2) 0;
}


// Banner heroes for individual pages
.usa-hero {
  background-position: 50% 0;
  background-image: url(asset_path('hero-pif.jpg'));
  min-height: 360px;
  .usa-hero__callout {
    color: #fff;
    max-width: none;
    background: none;
    @include u-margin-top(15);
    .usa-button {
      @include u-font('body','lg');
    }
    @include at-media('desktop') {
      max-width: 80%;
      @include u-padding-x(0);
    }
  }
  .usa-hero__heading--alt, .usa-hero__heading{
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    @include u-font('heading', 'xl')
  }
}
.home .usa-hero {
  background-image: url(asset_path('hero-pif.jpg'));
}
.about .usa-hero {
  background-image: url(asset_path('banner-nasa.jpg'));
}
.fellows .usa-hero {
  background-image: url(asset_path('banner-homecoming-eeob.jpg'));
}
.agencies .usa-hero {
  background-image: url(asset_path('banner-orientation-acq.jpg'));
}
.apply .usa-hero {
  background-image: url(asset_path('banner-capitol.jpg'));
}

.img-circle {
  border-radius: 50%;
}

.usa-graphic-list .usa-media-block__img {
  float: none;
}

.usa-list li svg {
  vertical-align: middle;
}

.usa-graphic-list {
  @include u-bg('secondary-darker');
  h3 a {
    @include u-text('primary');
    text-decoration: none;
  }
  .usa-graphic-list__heading {
    @include u-font-family('sans');
  }
}

.usa-social-link {
  @include u-margin-top(3);
  @include u-margin-right(1);
}

.usa-social-link--linkedin {
  background-image: url(asset_path("linkedin.svg")), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-footer {
  .usa-footer__secondary-section {
    @include u-bg('primary');
    a, a:hover, a:visited {
      @include u-text('white');
      text-decoration: none;
    }
    h3 {
      @include u-font('heading', 'xl');
      color: color("white");
    }
    .usa-button {
      @include u-font('body', 'lg')
    }
    .grid-container {
      @include at-media('desktop') {
        text-align: center;
        @include u-padding-x(8);
      }
    }
  }
}
//  .usa-footer__return-to-top a, .usa-footer__return-to-top a:hover, .usa-footer__return-to-top a:visited {
//
// }
//
.usa-section {
  @include u-padding-y(3);
  &:last-child {
    @include u-padding-bottom(5);
  }
}
.usa-prose > a.usa-button {
  color: white;
}
.usa-prose > h1, .usa-prose > h2, .usa-prose > h3, .usa-prose > h4, .usa-prose > h5, .usa-prose > h6 {
  @include u-font-family('sans');
}
.usa-logo {
  a {
    color: #fff;
  }
  @include at-media('desktop') {
    line-height: 0;
    margin: 0;
  }
}
.usa-logo__text {
  width: 10em;
}

.usa-header--basic .usa-nav-container {
  @include at-media('desktop') {
    width: 100%;
    max-width: unset;
    align-items: flex-start;
  }
}
.usa-header + .usa-section, .usa-header + main {
  border: none;
}
.usa-menu-btn {
  background: none;
}



.site-navbar__logo {
  @include at-media('desktop') {
    width: 200px;
    margin-left: 0;
  }
}
.site-header {
  @include u-bg('secondary-darker');
  @include at-media('desktop') {
    padding: units('105');
    width: 100%;
  }
}

.usa-banner__content {
  display: hidden;
}

.usa-sidenav span {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.usa-graphic-list {
  @include at-media('desktop') {
    text-align: center;
  }
  .usa-media-block__img {
    margin: 0;
  }
  .img-circle {
    width: 8rem;
  }
}

.partner-card {
  @include u-margin-y(2);

  div {
    @include u-padding(3);
    @include u-border(1px);
    @include u-border('base-light');
    @include clearfix;

  }

  a {
    @include u-color('ink');
    @include u-font('sans', 'xs');
  }

  img {
    @include u-square(9);
    @include u-float('left');
    @include u-margin-right(2);

  }
}

ul.project-fellows li {
  list-style: none;
  @include clearfix;
  @include u-margin-bottom(2);
}

.page-banner, .page-header{
  .header-main {
    @include u-font('heading', 'xl');
  }
  .header-sub {
    @include u-font('body', 'lg');
    @include u-text('light');
    @include u-margin-top(0);
  }
}
.page-banner {
  @include u-padding-y(3);
}
.project-item {
  @include u-padding-bottom(5);
  @include u-margin-top(4);
  // @include u-border-bottom('2px');
  // @include u-border-bottom('base-light');
  @include at-media(tablet) {
    @include grid-col(6);
  }
  @include clearfix;

  h3 {
    @include u-margin-top(0);
  }

  img {
    @include at-media(tablet) {
      @include u-float('left');
    }
    @include u-margin-right(3);
    @include u-margin-top(1);
    @include u-circle(10);
  }
  p {
    @include u-font('body','xs');
  }
}
.list-fellows {
  a.list-item {
    @include u-border-bottom('transparent');
    @include u-border-top('transparent');
    @include u-border-left('transparent');
    @include u-border-right('transparent');
    @include u-border('1px');
    &:hover {
      @include u-border('base-light');
      @include u-border('1px');
    }
    text-decoration: none;
    @include u-color('base-darker');
    @include u-padding(2);
    .list-item-img {
      @include at-media(desktop) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .circle-card {
        height: auto;
      }
    }
  }
}

.site-card {
  @include u-border('base-light');
  @include u-border('1px');
  @include u-color('ink');
  display: block;
  height: 100%;
  text-decoration: none;
  .card-body {
    @include u-padding-x(2);
    @include u-padding-bottom(2);
    @include u-color('base-darker');
  }
  &:hover{
		h3 a{
			@include u-border-bottom('2px', 'primary', 'solid');
		}
	}
}
 .work-box {
   width: 7rem;
   margin-bottom: units(2);
   .work-box-ico {
     display: flex;
     align-items: center;
     justify-content: center;
     @include u-height('card');
   }
   .work-box-head {
     @include u-font('body', '2xs');
   }
   @include at-media(tablet) {
     @include u-width('card');
     margin-bottom: units(5);
     .work-box-head {
       @include u-font('body', 'xs');
     }
   }

 }
