// Custom Utility classes

// Layout
.flex-column-reverse-tablet {
  display: flex;
  flex-direction: column-reverse;
  @include at-media('tablet') {
    flex-direction: row;
  }
}

// Background
.bg--lightest {
  @include light-bg;
}
.apply .bg--lightest {
	padding-bottom: units(9);
}

.bg--lightest-alt {
  background-color: rgba(237, 245, 255, 1);
}

