.usa-form .usa-input {
  border-radius: 3px;
}
#usa-form-apply {
  max-width: none;

  label {
    font-weight: normal;
  }
  .usa-button {
    margin-top: 0.5rem;
    line-height: 42px;
    height: 42px;
  }
}
