---
layout: wide
title: Become a Fellow
permalink: /apply/
description_apply: "Want to use your tech, design or entrepreneurial skills for good? Join PIF!"
---

<div class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Join Us
      </h1>
    </div>
  </div>
</div>

<section class="grid-container usa-section page-header">
  <div class="grid-row">
    <div class="tablet:grid-col-8">
      {% if site.apply_now and site.application_updates == false %}
      <!-- Application Open -->
      <h1>Apply to Be a 2024 Fellow</h1>
      <p class="body-intro">Thanks for your interest in becoming a Presidential Innovation Fellow (PIF)! We know the federal hiring process can be very different than other sectors. To help, we’re providing everything you need before and during the PIF application process.</p>
      <!-- <p><a class="usa-button usa-button--big" href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform?usp=sf_link" target="_blank">Apply to PIF here</a></p> -->
      <p><a class="usa-button usa-button--big" href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform?usp=sf_link" target="_blank">Apply to PIF here</a></p>
      
      {% elsif site.apply_now ==false and site.application_updates ==true %}
      <!-- Applications Will Open Soon -->
      <h1>Apply to Be a 2024 Fellow</h1>
      <p class="body-intro">Thank you for your interest in becoming a Presidential Innovation Fellow! Applications for the 2024 fellowship class will be opening soon.</p>
      <p><a class="usa-button usa-button--big" href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_70" target="_blank">Sign up for updates</a></p>
      
      {% else %}
      <!-- Application Closed -->
      <h1>Apply to PIF</h1>
       <p class="body-intro">Thanks for your interest in becoming a Presidential Innovation Fellow (PIF)! Applications are currently closed, but we recruit annually and will be opening applications for the 2024 cohort in early 2023.</p>
           <p><a class="usa-button usa-button--big" href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_70" target="_blank">Sign up for PIF updates</a></p> 
      {% endif %}
    </div>
  </div>
</section>

{% if site.apply_now and site.application_updates == false %}
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>PIF Application Overview</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <ul>
          <li><strong>Who may apply:</strong> All United States citizens and nationals (residents of American Samoa and Swains Island) are eligible to apply.</li>
          <li><strong>Applications due:</strong> Friday July 8, 11:59 PM PST</li>
          <li><strong>How to apply:</strong> Complete <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform" target="_blank"> our application form</a>, following all instructions.</li>
          <li><strong>Benefits:</strong> All PIFs receive <a href="https://handbook.tts.gsa.gov/benefits/" target="_blank"> federal employee benefits.</a> This includes medical, vision, and dental insurance, FSA accounts, life insurance, paid leave, and the Thrift Savings Plan (the government version of a 401K) with up to five percent matching.</li>
          <li><strong>Location:</strong> <strong>Washington, D.C.</strong> Presidential Innovation Fellows are based in Washington, D.C., for the duration of the fellowship. Fellows will spend a portion of their time working at one of the federal agencies to which they are assigned, which are often in Washington, D.C. or the surrounding area. Fellows occasionally co-work and collaborate on projects in space provided by the General Services Administration. In addition to onsite work at agencies, we believe that sharing a D.C. “home base” helps foster community.</li>
          <li><strong>Salary:</strong> All Presidential Innovation Fellows are hired at the GS-15 Step 1 pay grade (the GS system defines many federal salaries - learn more about what this means <a href="https://join.tts.gsa.gov/compensation-and-benefits/" target="_blank"> here</a>). As of May 2022, the GS-15 Step 1 salary for the Washington, D.C. locality is $148,484.22.</li>
          <li><strong>Start Date:</strong> PIF’s next cohort will have an April 2023 start date. We will be announcing the exact date as we get farther along in the process.</li>
          <li><strong>Education requirements:</strong> No, PIF does not have education requirements.</li>
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Preparing to apply</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">Here is everything you’ll need to submit your PIF application.</p>
        <ul>
          <li><strong>Resume:</strong> Federal hiring requires that your resume must explicitly reflect the minimum qualifications cited in the <a href="https://presidentialinnovationfellows.gov/apply/job-announcement/" target="_blank">job posting</a>. More information regarding resume best practices can be found <a href="https://join.tts.gsa.gov/resume/" target="_blank">here</a>. Detail is encouraged!</li>
          <li><strong>Qualifications:</strong> Only applicants whose resumes reflect at least one year’s experience of the minimum qualifications listed in the <a href="https://presidentialinnovationfellows.gov/apply/job-announcement/" target="_blank">job posting</a> will be considered. Qualification determinations cannot be made when resumes do not include the required information, so failure to provide this information may result in disqualification.
            <ul>
              <li>To qualify for this role, you must have one year of specialized experience. Specialized experience is:
                <ul>
                  <li>Leading vision, direction, roadmap or leading the identification of user needs for a project, product, platform, or service</li>
                  <li>Providing project or product leadership.</li>
                  <li>Using iterative or agile and data-driven methodologies to achieve organizational or project objectives</li>
                  <li>Leading cross-functional teams to achieve organizational or project objectives.</li>
                  <li>Collaborating with senior or executive stakeholders and cross-functional teams to achieve organizational or project objectives.</li>
                  <li>Leading stakeholders through organizational change.</li>
                </ul>
              </li>
              <li>For each job on your resume, provide:
                <ul>
                  <li>Include the exact dates you held each job (from month/year to month/year or “present”).</li>
                  <li>Number of hours per week you worked (if part time).</li>
                </ul>
              </li>
            </ul>
          </li>
          <li><strong>Areas of Expertise:</strong> Read through the descriptions of our five main areas of expertise, which are described in “Selecting a PIF area of expertise” below. It is <strong>essential</strong> that you review the specialized experience for the role, and demonstrate expertise in one or more of our focus areas. Only applicants whose resumes reflect at least one year’s experience of the minimum qualifications listed in the <a href="https://presidentialinnovationfellows.gov/apply/job-announcement/" target="_blank">full job posting</a> will be considered.</li>
          <li><strong>Statement sharing why you want to join PIF</strong> (no more than 900 characters)</li>
          <li><strong>Optional:</strong> links to professional portfolios or profiles (i.e. your LinkedIn, GitHub, etc.)</li>
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Selecting an area of expertise</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">All candidates must select a main area of expertise. </p>
        <p><strong>Select your area of expertise:</strong> In our <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform?usp=sf_link" target="_blank">application</a>, we ask every candidate to select an area of expertise track: Data Strategy and AI; Product; Design and Experience; Digital Transformation and Strategy; or Software and Cloud Infrastructure. It’s okay if you have expertise in more than one area! We ask that you select whichever most closely matches your skill set. Doing so will help our team thoughtfully pair candidates with projects. We describe each area of expertise below. The area of expertise you choose will not limit the projects that you can qualify for. The PIF team will match all qualified candidates to the appropriate projects as many projects require multi-disciplinary backgrounds.</p>
        <ul>
          <li><strong>Data Strategy and AI:</strong> Expertise in the areas of data strategy and artificial intelligence. This includes data management, machine learning, data science, and/or modern statistical and computational methods.</li>
          <li><strong>Product:</strong> Expertise in product development, product management, and/or agile software methodologies.</li>
          <li><strong>Design and Experience:</strong> Expertise in user experience (UX), human-centered design, service design, implementation design and/or customer experience (CX).</li>
          <li><strong>Digital Transformation and Strategy:</strong> Expertise in the areas of strategy and digital transformation. This includes digital marketing or advertising, healthcare innovation, change management, community outreach & engagement, DEIA, venture capital, accelerators, or incubators; and/or corporate innovation.</li>
          <li><strong>Software and Cloud Infrastructure:</strong> Expertise in DevOps, Cloud computing, cloud infrastructure, front-end engineering, back-end engineering, and/or enterprise-level technology leadership.</li>
        </ul>

      </div>
    </div>
  </div>
</section>

 <section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Our next cohort</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">We closed our latest round of applications on May 14, 2021. Thank you to all who applied!
        <p>For those who are selected to interview, we plan to conduct interviews on a rolling basis throughout summer, and anticipate a January 2022 start date. <strong>Due to the high volume of applications, we are not able to provide updates on the status of your application until all fellows have been selected</strong>.</p>
      </div>
    </div>
  </div>
</section> 

<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Our timeline</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">We can’t wait to get to know you and your experience! Here is a <strong>tentative</strong> timeline so you can know what to expect, and when. Once you apply, you will receive confirmation that your application has been received. <strong>We are not able to provide updates on the status of your application until all fellows have been selected.</strong></p>
        <ul>
          <li><strong>May 16 - July 8, 2022:</strong> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform" target="_blank">Submit your application</a>! We accept applications through 11:59 p.m. Pacific Time, July 8, 2022.</li>
          <li><strong>July - August 2022:</strong> Our Talent Team, HR team, and subject matter experts review and qualify all applications and resumes.</li>
          <li><strong>August 2022 - January 2023:</strong> PIF interviews and Agency Interviews take place.</li>
          <li><strong>December 2022 - January 2023:</strong> Final selections and tentative offers* will be made.</li>
          <li><strong>December 2022 - March 2023:</strong>  After accepting the tentative offer, our pre-employment process begins. This includes security clearance (fingerprints, background check, etc.). Pre-employment typically takes a few months. You can learn more about our pre-employment process <a href="https://join.tts.gsa.gov/hiring-process/#security-and-onboarding" target="_blank">here</a>.</li>
          <li><strong>April 2023:</strong> We welcome an amazing PIF cohort! We will be announcing the exact date as we get farther along in the process.</li>
        </ul>
        <p><em>* &ldquo;Tentative offer&rdquo; means the offer is contingent on a background check.</em></p>
      </div>
    </div>
  </div>
</section>

{% elsif site.apply_now ==false and site.application_updates ==true %}
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>About the Fellowship</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-md">Presidential Innovation Fellows are mid-to-senior career technologists, designers, entrepreneurs, and strategists.</p>
        <p class="font-body-md">Each fellow is paired with a federal agency to complete a 12-24 month project as an entrepreneur-in-residence. Learn more about <a href="https://presidentialinnovationfellows.gov/projects/" target="_blank">projects that have been completed by past fellows</a> and the <a href="https://handbook.tts.gsa.gov/about-us/tts-history/" target="_blank"> values that guide our work</a>.</p>
        <p class="font-body-md">As a fellow, you’ll gain executive-level exposure in a federal agency. Behind the walls of government, you’ll tackle some of our nation’s biggest challenges.</p>
        <p class="font-body-md">Making government work better for the people we serve is our top priority. And you have the experience we need to drive that mission home. Together, we can have an incredible impact on how the government delivers to the public at every interaction, each and every time.</p>
        <p class="font-body-md">After you complete your fellowship, you’ll join our alumni community of more than 250 technologists and innovators in advancing mission-driven solutions at local, national, and international levels.</p>
      </div>
    </div>
  </div>
</section>
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Requirements</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-md">To be eligible for the Presidential Innovation Fellows program, you must be a United States citizen or a resident of American Samoa or Swains Island.</p>
        <p class="font-body-md">Additionally, fellows must be based in Washington, D.C. for the duration of the fellowship. </p>
        <p class="font-body-md">There are no education requirements. </p>
        <p class="font-body-md"> All fellows will be required to complete a <a href="https://www.usajobs.gov/help/faq/job-announcement/security-clearances/" target="_blank">Public Trust background investigation</a>.</p>
      </div>
    </div>
  </div>
</section>
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Expertise</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-md">Presidential Innovation Fellows have expertise in one of the following areas:</p>
        <ul>
          <li><strong>Data Strategy and AI:</strong> Data management, machine learning, data science, or modern statistical and computational methods.</li>
          <li><strong>Product:</strong> Product development, product management, and/or agile software methodologies.</li>
          <li><strong>Design and Experience:</strong> User experience (UX), human-centered design, service design, implementation design or customer experience (CX).</li>
          <li><strong>Digital Transformation and Strategy:</strong> Digital marketing or advertising, healthcare innovation, change management, community outreach and engagement, DEIA (diversity, equity, inclusion, and accessibility), venture capital, accelerators, or incubators; or corporate innovation.</li>
          <li><strong>Cloud Infrastructure and Technology Leadership:</strong> Cloud computing, cloud infrastructure, or enterprise-level technology leadership.</li>
        </ul>
        <p class="font-body-md">To qualify as a fellow, you must also have at least one year of experience in each of the following areas: </p>
        <ul>
          <li>Leading vision, direction, roadmap or leading the identification of user needs for a project, product, platform, or service.</li>
          <li>Providing project or product leadership.</li>
          <li>Using iterative, agile, or data-driven methodologies to achieve organizational or project objectives.</li>
          <li>Collaborating with senior or executive stakeholders to achieve organizational or project objectives.</li>
          <li>Leading stakeholders through organizational change.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Benefits</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-md">All Presidential Innovation Fellows are hired at the GS-15 Step 1 pay grade. Learn more about the <a href="https://join.tts.gsa.gov/compensation-and-benefits/" target="_blank"> GS system that defines federal salaries</a>.</p>
        <p class="font-body-md">As of January 2023, the GS-15 Step 1 salary for the Washington, D.C. locality is $155,700. </p>
        <p class="font-body-md">All fellows receive <a href="https://handbook.tts.gsa.gov/getting-started/classes/benefits/" target="_blank">federal employee benefits</a>. This includes medical, vision, and dental insurance, FSA accounts, life insurance, paid leave, and the Thrift Savings Plan (the government version of a 401K) with up to five percent matching. </p>
      </div>
    </div>
  </div>
</section>
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Get Ready to Apply</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-md"> Be sure to <a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_70" target="_blank">Sign up for updates!</a> We’ll send you an email when the application is available. We’ll also send you emails about information sessions we’ll be holding before the application opens and throughout the application window.</p>
        <p class="font-body-md">As part of your application, you’ll need to submit a federal-style resume. If you don’t already have one, it can take some time to put together. Here are <a href="https://join.tts.gsa.gov/resume/" target="_blank">tips on writing a federal resume</a> and an <a href="https://handbook.tts.gsa.gov/hiring-staying-or-changing-jobs/resume/" target="_blank">example of what a federal resume might look like</a>.</p>
        <p class="font-body-md">You’ll also be asked to provide a personal statement (no more than 900 characters) on why you want to become a fellow. </p>
        <p class="font-body-md">Links to professional portfolios or profiles may be included and are optional. </p>
      </div>
    </div>
  </div>
</section>
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Selection Timeline</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">Here is a tentative timeline so you can know what to expect. </p>
        <ul>
          <li><strong>May 15 - June 23, 2023:</strong> Submit your application.</li>
          <li><strong>July 2023 - October 2023:</strong>  Interviews with the Presidential Innovation Fellows team and potential agencies take place.</li>
          <li><strong>November 2023 - December  2023:</strong> Final selections and tentative offers will be made. Tentative offers are contingent on the successful completion of a background check.</li>
          <li><strong>December 2023 - February 2024:</strong> After you accept a tentative offer, our pre-employment process begins – including a background check. <a href="https://join.tts.gsa.gov/hiring-process/#security-and-onboarding" target="_blank">Learn more about our process</a>.</li>
          <li><strong>February 2024:</strong> We welcome a new cohort of fellows.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% else %}
<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Our interview process: What to expect!</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">For candidates selected to interview, here’s our process:</p>
        <ul>
          <li><strong>Accessibility:</strong> If you are selected to interview, a member of our Talent Team will be in touch to ensure any accessibility considerations are covered. We typically conduct interviews as video calls, however, we realize that this option may not accommodate everyone’s needs. Throughout the hiring process, please don’t hesitate to let us know if you have a preferred method of communication and we will work with you to create a positive experience. If you require accommodations, please contact us directly at <a href="mailto:pif-application@gsa.gov" target="_blank">pif-application@gsa.gov</a> at least 24-48 hours in advance of your scheduled interview.</li>
          <li><strong>PIF interviews</strong> begin with skills (your self-identified area of expertise), and candidates may progress to core competencies (behavioral questions, leadership, and/or navigating ambiguity) and core values (including diversity, equity, and inclusion). The PIF team will provide questions in advance of each interview to allow candidates time to prepare.</li>
          <li><strong>Agency interviews</strong> are with PIF’s federal agency partner(s). This is a conversation with the agency’s PIF project champion. The PIF team will share finalist resumes with agencies who then identify candidates that they would like to interview.</li>
          <li><strong>Format:</strong> All interviews occur virtually and are typically scheduled for 1-2 hours in length. We offer live captioning and other accessibility assistance to all candidates.</li>
          <li><strong>Offer Process:</strong> Once the agency interviews are complete, the PIF team will meet with each agency to discuss their selections. This gives us our list of finalists to whom we make offers! We operate within the U.S. General Services Administration (GSA), and the GSA HR team will then make tentative offers to selected candidates. The PIF team will also set up calls with each incoming PIF to welcome them into our program and community, and answer any questions!</li>
          <li><strong>Onboarding:</strong> PIF augments GSA onboarding with a week of PIF-specific programming, followed by each PIF onboarding at their respective agencies.</li>
        </ul>

      </div>
    </div>
  </div>
</section>
{% endif %}


<!-- <section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Learn more</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">There are many opportunities to learn more about our program and our hiring process! All are open to the public.</p>
        <ul>
          <li>Throughout the open application period, attend PIF’s weekly virtual roundtables and TTS Talent info sessions to learn more about the hiring process. You can learn more and RSVP to these PIF events <a href="https://presidentialinnovationfellows2022.eventbrite.com/" target="_blank">here.</a></li>
          <li>Visit our <a href="https://presidentialinnovationfellows.gov/faq/" target="_blank">PIF FAQ</a> </li>
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="section__margin-top-neg">
  <div class="grid-container usa-section usa-prose">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-4">
        <h2><span>Thank you for reading!</span></h2>
      </div>
      <div class="desktop:grid-col-8">
        <p class="font-body-lg">We look forward to receiving and reviewing your applications.</p>
        <p><a class="usa-button usa-button--big" href="https://docs.google.com/forms/d/e/1FAIpQLSfvcTc_cxzY3J8tcbkqXiXNogE6JJqbIh9esVuCOofolmKE9w/viewform?usp=sf_link" target="_blank">Apply to PIF</a></p>
        <p><em>If you have problems completing your online application, please contact <a href="mailto:pif-application@gsa.gov">pif-application@gsa.gov</a></em></p>
      </div>
    </div>
  </div>
</section> -->

{% include_cached quote.html image="quotes/karin-underwood-headshot.jpg" quote="Public service has always been a dream of mine. Seeing the team that the President assembled and the Administration’s mandate for racial justice and equity inspired me to apply to join the PIF program." name="Karin Underwood, 2022 PIF, detailed to the Executive Office of the President" %}
