.footer-tagline {
  @include u-bg('primary');
  @include overlay-base(360px);
  background-image: url(asset_path("banner-homecoming-eeob-bw.jpg"));
  background-size: cover;
  background-position: 0 25%;
}

.footer-tagline__overlay {
  @include image-overlay;
}

.footer-tagline__content {
  @include content-overlay;

  h2 {
    @include u-font('serif', 'xl');
    @include u-text('light');
    color: white;
    font-style: normal;
    line-height: 1.4;
    margin-top: 0;
    text-align: center;
    @include at-media('tablet') {
      @include u-font('serif', '2xl');
      line-height: 1.24;
    }
  }

  h3 {
    @include u-font('serif', 'lg');
    @include u-text('primary-lighter');
    @include u-text('light');
    font-style: italic;
    text-align: center;
    @include at-media('tablet') {
      @include u-font('serif', 'xl');
    }
  }
}

.footer-tagline__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tagline__stars {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 1rem;
}

.footer-tagline--alt {
  .footer-tagline__overlay {
    @include u-bg('secondary-darker');
    opacity: 0.87;
  }

  .footer-tagline__content h3 {
    @include u-text('white');
  }
}
