.footer-tagline {
  background-image: url(asset_path('banner-homecoming-eeob-bw.jpg'));
  @include overlay-base(360px);
  background-size: cover;
  background-position: center center;
  @include at-media('desktop') {
    background-position: 400px 25%;
  }
}

.footer-tagline__overlay {
  @include image-overlay;
}

.footer-tagline__shape {
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0;
  left: -10%;
  transform: skew(30deg);;
  @include u-bg('primary');
  display: none;
  @include at-media('desktop') {
    display: block;
  }
}

.footer-tagline__content {
  @include content-overlay;

  h2 {
    @include u-font('serif', $theme-h2-font-size);
    color: white;
    @include u-text('light');
    font-style: italic;
    text-align: center;
    line-height: 1.4;
    @include at-media('desktop') {
      @include u-font('serif', $theme-h1-font-size);
      text-align: left;
      line-height: 1.24;
    }
  }

  h3 {
    @include u-font('serif', 10);
    @include u-text('primary-lighter');
    @include u-text('light');
    font-style: italic;
    text-align: center;
    @include at-media('desktop') {
      text-align: left;
    }
  }

  .usa-button.usa-button--inverse {
    @include u-bg('primary-lighter');
    flex-shrink: 0;
  }

  .usa-button.usa-button--inverse:hover {
    @include u-bg('white');
  }
}

.footer-tagline__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  @include at-media("desktop") {
    justify-content: flex-start;
  }
}

.footer-tagline__stars {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 1rem;
}

.footer-tagline__stars--hide-desktop {
  @include at-media('desktop') {
    display: none;
  }
}
