.quote {
  @include u-bg('secondary-darker');

  blockquote {
    margin: 0;
    margin-top: 1rem;
    @include at-media("tablet") {
      margin-top: 0;
      margin-left: 0.7rem;
    }

    p {
      @include u-font('serif', 9);
      @include u-text('light');
      font-style: italic;
      margin-top: 0;
      text-align: center;
      @include at-media("tablet") {
        text-align: left;
      }
    }
    footer {
      @include u-font-family('sans');
      @include u-text('normal');
      text-align: center;
      display: flex;
      flex-direction: column;
      @include at-media("tablet") {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 190px;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    @include at-media("tablet") {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include at-media("tablet") {
      flex-direction: row;
      align-items: flex-start;
      margin-left: 1rem;
    }
  }

  &__mark--open {
    width: 35px;
    height: 25px;
    font-family: Rockwell;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }

  &__name {
    margin-top: 1rem;
    color: #fff;
    @include at-media("tablet") {
      margin-top: 1px;
      margin-left: 1rem;
    }
  }

  &__star--dark {
    display: none;
  }

}

.quote--light {
  @include u-bg('white');

  p {
    @include u-text('primary');
  }

  .quote__mark--open {
    @include u-text('primary-vivid');
  }

  .quote__name {
    color: #6b6b6b;
  }

  .quote__star { display: none; }
  .quote__star--dark { display: inline-block; }
}
