.site-navbar__logo {
  @include at-media('desktop') {
    width: 200px;
    margin-left: 0;
  }
}
.site-header {
  @include u-bg('secondary-darker');
  @include at-media('desktop') {
    padding: units('105');
    width: 100%;
  }
}
