h1 {
  @include u-font('serif', $theme-h1-font-size);
  @include u-text('bold');
  @include u-text('primary');
  line-height: 1.2;

  em {
    @include u-text('light');
    @include u-text('primary-vivid');
    font-style: italic;
  }
}

h2 {
  @include u-font('serif', $theme-h2-font-size);
  @include u-text('normal');
  @include u-text('primary-vivid');
  font-style: italic;
  line-height: 1.2;
}

h3 {
  @include u-font('sans', $theme-h3-font-size);
  @include u-text('light');
  @include u-text($theme-color-base-family);
  font-style: italic;
}

h4 {
  @include u-font('serif', $theme-body-font-size);
  @include u-text('bold');
  @include u-text('primary-vivid');
}

p {
  @include u-font('sans', $theme-body-font-size);
  @include u-text('light');
  @include u-text($theme-color-base-family);
  line-height: 1.625;
}

.display {
  @include u-font-family('serif');
  @include u-text('light');
  @include u-text('primary');
  line-height: 1.16;
  font-size: 2.813rem; // 45 px
  @include at-media("mobile-lg") {
    font-size: 3.75rem; // 60 pixels
  }
}

.body-intro {
  @include u-font('serif', $theme-h2-font-size-mobile);
  @include u-text('light');
  @include u-text('primary-darker');
  font-style: normal;
  line-height: 1.62;
  @include at-media("mobile-lg") {
    @include u-font('serif', $theme-h2-font-size);
  }
}
