$transition: width .25s;

#search_form {
  .site-search {
    margin-top: 1rem;
    @include at-media('desktop') {
      margin-top: 0;
      display: flex;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      transition: $transition;
      width: 40px;
      opacity: 0;
      visibility: hidden;
    }
  }

  .site-search.expanded {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  .site-search-show {
    border: none;
    background-color: white;
    @include at-media('desktop') {
      background-image: url(asset_path("icons/search.svg"));
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1rem;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }

  .site-search-show:focus {
    outline: none;
  }

  input[type=search] {
    border: 1px solid grey;
    padding-right: 32px;
    @include at-media('desktop') {
      border: none;
      padding-right: 20px;
      box-sizing: border-box;
      max-width: 165px;
    }
  }

  input[type=search]:focus {
    outline: none;
  }

  .site-search.expanded input[type=search] {
    @include at-media('desktop') {
      border-bottom: 1px solid #1a4480;
    }
  }
}

.usa-search--small [type="submit"],
.usa-search--small .usa-search__submit {
  background-image: url(asset_path("icons/search.svg"));
  width: 20px;
  border-radius: 0;
  background-color: transparent;
  margin-left: -32px;
  @include at-media('desktop') {
    margin-left: -24px;
  }
}
