---
layout: default
permalink: blog/
title: Blog
---
<div class="container-fluid" id="hero">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Blog</h1>
		</div>
	</div>
</div>
<div class="container" id="blog">
	<div class="row">
		<div class="col-sm-8" id="home-post">
			<ul>
				{% for post in site.posts limit:5%}
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					<p>{{ post.date | date_to_string }} // {{ post.author }}</p>
					<hr/>
					{{ post.excerpt }}
					<p><a href="{{ post.url }}">Read full post ></a></p>
					<br/>
					<br/>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4 hidden-sm hidden-xs">
      <h4>Recent Posts</h4>
      <ul>
        {% for post in site.posts limit:25 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <hr/>
      <p><a href="/blog/all_posts">View All Posts</a></p>
    </div>
	</div>
</div>