---
layout: default
title: Events
permalink: events/
---
<div class="container-fluid" id="hero">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Upcoming Events</h1>
		</div>
	</div>
</div>
<div class="container" id="events">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">{% for event_hash in site.data.upcoming_events %}{% assign event = event_hash[1] %}
			<h3>{{ event.name }}</h3>
			<h4><strong>Address:</strong> {{ event.address }}<br/><strong>Date:</strong> {{ event.date }}<br/><strong>Time:</strong> {{ event.time }}<br/><strong>Cost:</strong> {{ event.cost }}<br/><strong>Link:</strong> <a href="{{event.url }}" target="blank">{{ event.url }}</a></h4><br/>{% endfor %}
			<br/>
			<h3>More events coming soon ... sign up for our newsletter to stay in the know!</h3>
			<br/><br/>
			<hr/>
			<br/>
			<h2>Past Events</h2><br/>{% for event_hash in site.data.past_events %}{% assign event = event_hash[1] %}
			<h3>{{ event.name }}</h3>
			<h4>Address: {{ event.address }}<br/>Date: {{ event.date }}<br/>Time: {{ event.time }}<br/>Cost: {{ event.cost }}<br/>Link: <a href="{{event.url }}" target="blank">{{ event.url }}</a></h4>{% endfor %}
		</div>
	</div>
</div>