---
layout: default
title: Meet the Fellows
permalink: fellows/
---

<div class="container-fluid" id="hero">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Meet the Fellows</h1>
		</div>
	</div>
</div>
<div class="container" id="fellows">
	<div class="row text-center" id="filters">
		<div class="col-md-3 button-group" data-filter-group="year" id="year">
			<button class="btn btn-primary active" type="button" data-filter="">All Fellows</button><br/>
			<button class="btn btn-default" type="button" data-filter=".2019">2019</button>
			<button class="btn btn-default" type="button" data-filter=".2017">2017</button>
			<button class="btn btn-default" type="button" data-filter=".2016">2016</button>
			<button class="btn btn-default" type="button" data-filter=".2015">2015</button>
			<button class="btn btn-default" type="button" data-filter=".2014">2014</button>
			<button class="btn btn-default" type="button" data-filter=".2013">2013</button>
			<button class="btn btn-default" type="button" data-filter=".2012">2012</button>
		</div>
		<div class="col-md-3 button-group hidden-sm hidden-xs" data-filter-group="region" id="region">
			<button class="btn btn-primary active" type="button" data-filter="">All Regions</button><br/>
			<button class="btn btn-default" type="button" data-filter=".northeast">Northeast</button>
			<button class="btn btn-default" type="button" data-filter=".midwest">Midwest</button>
			<button class="btn btn-default" type="button" data-filter=".south">South</button>
			<button class="btn btn-default" type="button" data-filter=".west">West</button>
			<button class="btn btn-default" type="button" data-filter=".outside">Outside US</button>
		</div>
		<div class="col-md-6 button-group hidden-sm hidden-xs" data-filter-group="skill" id="skill">
			<button class="btn btn-primary active" type="button" data-filter="">All Skills</button><br/>
			<button class="btn btn-default" type="button" data-filter=".policy">Policy</button>
			<button class="btn btn-default" type="button" data-filter=".front">Front End Dev</button>
			<button class="btn btn-default" type="button" data-filter=".data">Data Viz</button>
			<button class="btn btn-default" type="button" data-filter=".product">Product</button>
			<button class="btn btn-default" type="button" data-filter=".ux">UX</button>
			<button class="btn btn-default" type="button" data-filter=".comm">Marketing &amp; Comms</button>
			<button class="btn btn-default" type="button" data-filter=".bd">Biz Dev</button>
			<button class="btn btn-default" type="button" data-filter=".back">Back End Dev</button>
			<button class="btn btn-default" type="button" data-filter=".design">Design</button>
			<button class="btn btn-default" type="button" data-filter=".cyber">Cyber Security</button>
			<button class="btn btn-default" type="button" data-filter=".digital">Digital Strategy</button>
		</div>
	</div>

	<div class="row" id="fellow">
          {% capture sort_strings %}
            {% for f in site.data.fellows %}
              {{ 5000 | minus:f[1].year }}_{{ f[1].id }}
            {% endfor %}
          {% endcapture %}
          {% assign sort_strings = sort_strings | split:' ' | sort %}
          {% for sort_string in sort_strings %}
            {% assign sort_string_pair = sort_string | split:'_' %}
            {% assign id = sort_string_pair[1] %}
            {% assign fellow = site.data.fellows[id] %}

		<div class="fellow {{ fellow.year }} {{ fellow.region }} {% for skill in fellow.skills %}{{ skill }} {% endfor %} col-md-6 col-sm-4 col-xs-6">
			<span id="{{ fellow.id }}"></span>
			<div class="row">
				<div class="col-md-6">
					<a data-toggle="modal" data-target="#{{ fellow.id }}-modal">
						<img src="{{ site.baseurl }}/assets/images/{{ fellow.year }}/{{ fellow.img }}" class="img-circle img-responsive">
					</a>
				</div>
				<div class="col-md-6 hidden-xs" id="fellow-info">
					<h4><strong>{{ fellow.name }}</strong><br/><small><em>{{ fellow.hometown }}</em></small></h4>
  				<p>{{ fellow.bio }} (<a data-toggle="modal" data-target="#{{ fellow.id }}-modal">Read more</a>)</p>
				</div>
			</div>
		</div>

		<!-- modal -->
		<div class="modal fade fellow-modal" id="{{ fellow.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ fellow.id }}-label" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="{{ fellow.id }}-label"><strong>Biographical Details</strong></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="container-fluid">
		      		<div class="row">
		      			<div class="col-sm-4" id="fellow-modal-headshot">
		      				<img src="{{site.baseurl}}/assets/images/{{ fellow.year }}/{{ fellow.img }}" class="img-responsive">
		      			</div>
		      			<div class="col-sm-8" id="fellow-bio-details">
		      				<h4><strong>{{ fellow.name }}</strong><br/><small><em>{{ fellow.hometown }}</em></small></h4>
		      				<h5>Class of {{ fellow.year }}</h5>
		      				<p id="fellow-skills">{% for skill in fellow.skills %}{% case skill %}{% when 'front' or 'data' or 'back' %}<span class="label label-primary">{% if skill == 'front' %}Front End{% elsif skill == 'back' %}Back End{% else %}Data Viz{% endif %}</span>{% when 'digital' or 'policy' %}<span class="label label-warning">{% if skill == 'digital' %}Digital Strategy{% else %}Policy{% endif %}</span>{% when 'comms' or 'bd' %}<span class="label label-success">{% if skill == 'comms' %}Marketing &amp; Comms{% else %}Biz Dev{% endif %}</span>{% when 'ux' or 'product' or 'design' %}<span class="label label-info">{% if skill == 'ux' %}UX{% elsif skill == 'design' %}Design{% else %}Product{% endif %}</span>{% when 'cyber' %}<span class="label label-danger">Cyber Security</span>{% endcase %}{% endfor %}</p>
		      			</div>
		      			<div class="col-sm-4">
		      			</div>
		      		</div>
		      		<br/>
              {% if fellow.projects.size > 0 %}
		      		<div class="row">
		      			<div class="col-sm-2">
		      				<p><strong>PROJECT(S):</strong></p>
		      			</div>
		      			<div class="col-sm-10">{% for agencies_hash in fellow.projects %}
		      				<div class="row" id="fellow-agency-list">
		      					<div class="col-sm-3 hidden-xs">
		      						<img src="{{site.baseurl}}/assets/images/agencies/{{ agencies_hash[0] }}.png" class="img-responsive">
		      					</div>
		      					<div class="col-sm-9" id="fellow-modal-agency">{% for agency in site.data.agency_list %}{% if agency.short == agencies_hash[0] %}<p id="fellow-modal-agency-name"><em>{{ agency.long }}</em></p>{% endif %}{% endfor %}
	      							<hr/>
	      							<ul>{% assign p = agencies_hash[1] %}{% for projects in p %}<li>{{ projects }}</li>{% endfor %}
											</ul>
										</div>
									</div>{% endfor %}
	      				</div>
	      			</div>
            	{% endif %}
		      		<div class="row" id="fellow-modal-bio">
		      			<div class="col-md-12">
		      				<p><strong>Biography:</strong> {{ fellow.bio_full }}</p>
		      			</div>
		      		</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>{% endfor %}
	</div>
</div>
