.usa-button {
  @include u-bg('primary-vivid');
  @include u-font('sans', 8);
  @include u-text('normal');
  width: initial;
  height: 48px;
  border-radius: 24px;

  &:hover {
    @include u-bg('blue-warm-40v');
  }

  &.usa-button--inverse {
    @include u-bg('white');
    @include u-text('primary');
  }

  &.usa-button--inverse:hover {
    @include u-bg($theme-color-primary-lighter);
  }

  &.usa-button--secondary {
    @include u-font('sans', 5);
    @include u-bg($theme-color-secondary-darker);
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    padding-top: 0;
  }

  &.usa-button--secondary:hover {
    @include u-bg($theme-color-secondary-dark);
  }
}
