.usa-footer {
  .usa-footer__secondary-link a {
    @include u-text('secondary-dark');
    &:hover, &:active {
      @include u-text('secondary');
    }
  }
  .usa-footer__secondary-section {
    @include u-bg('secondary-dark');
    a, a:hover, a:visited, a:active {
      @include u-text('white');
      text-decoration: none;
    }
    h3 {
      @include u-font('heading', 'xl');
      color: color("white");
    }
    .usa-button {
      @include u-font('body', 'lg');
      box-shadow: inset 0 0 0 2px #dcdee0;
      &:hover, &:visited, &:active {
        @include u-text('white');
        box-shadow: $button-stroke color("white");
      }
    }
    .grid-container {
      @include at-media('desktop') {
        text-align: center;
        @include u-padding-x(8);
      }
    }
  }
}
//  .usa-footer__return-to-top a, .usa-footer__return-to-top a:hover, .usa-footer__return-to-top a:visited {
//
// }
//
