.usa-header--basic .usa-nav-container {
  @include at-media('desktop') {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.usa-nav__primary > .usa-nav__primary-item > a {
  @include at-media('desktop') {
    @include u-font('sans', $theme-body-font-size);
    @include u-text('normal');
    @include u-text('primary-darker');
  }
}

.usa-header--basic .usa-nav__primary-item > .usa-current {
  @include at-media('desktop') {
    @include u-text('bold');
  }
}

.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  @include at-media('desktop') {
    @include u-bg($theme-color-secondary-darker);
    height: 2px;
    bottom: 6px;
  }
}
