.usa-sidenav {
  a, .usa-current {
    @include u-text('secondary-dark');
    &:hover {
      @include u-text('secondary');
    }
  }
  span {
    color: #565c65;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
}
