---
layout: default
skip_index: true
---
<section class="usa-project-banner" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.71)), url('/assets/images/projects/opportunity-3.jpg');">
  <div class="project-banner-content">
    <div class="container-fluid">
      <h1 class="impact-statement">
      	{% for project in site.data.pif_projects %}
        <span>{{project.title}}:</span> {{project.subtitle}}
      </h1>
    </div>
  </div>
</section>
{% if project.impact_heading %}
<section class="project-impact">
  <div class="container">
    <h1>{{project.impact_heading}}</h1>
  </div>
</section>
{% endif %}
<section class="project-info">
  <div class="container">
    <div class="usa-width-one-half">
      <header>
        <h1>{{project.title}}</h1>
        {% if project.url %}
        <p class="project-link">
          <a href="{{project.url}}" target="_blank">
            View Project
            <i class="fa fa-external-link"></i>
          </a>
        </p>
        {% endif %}
      </header>
      <p class="project-description">
        {{project.description}}
      </p>
    </div>
    <div class="usa-width-one-half">
      <div class="project-gallery">
        <figure class="project-image">
          <img alt="{{project.gallery[0].alt}}" src="{{project.gallery[0].src}}">
        </figure>
        <div class="caption">
          {{project.gallery[0].caption}}
        </div>
        <div class="case-study-slideshow">
            {% for item in project.gallery %}
            <a href="#"><img class="thumb" alt="Opportunity Summit Group Photo" src="{{ item.src }}"></a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="project-impact">
  <div class="container">
    <div class="impact-container">
    <div class="impacts">
      {% for impact in project.impact_metric %}
      <div class="impact-box">
        <span>{{impact.metric}}</span> {{impact.desc}}
      </div>
      {% endfor %}
    </div>
    </div>
    {% if project.impact_metrics_src %}
    <img class="img-responsive" src="{{project.impact_metrics_src}}">
    {% endif %}
    </div>
</section>
<section class="project-press">
  <div class="container">
    <ul class="press-snippets">
      <li>
        <div class="press-logo">
          <figure>
            <img alt="Wired Logo" src="/assets/images/press/wired-logo.jpg">
          </figure>
        </div>
        <div class="press-description">
          <p class="press-quote">
            "In many cases, local governments don’t have the resources to invest in data science. With The Opportunity Project, the White House is hoping to inspire developers to build tools that will make it easier for decision makers to access the information they need."
          </p>
          <div class="border-seperator"></div>
          <p class="press-attribution">
            <a href="http://www.wired.com/2016/03/white-house-wants-build-tech-tools-data" target="_blank">The White House Wants You to Build Tools to Improve Our Cities</a>, 2016
          </p>
        </div>
      </li>
      <li>
        <div class="press-logo">
          <figure>
            <img alt="White House Logo" src="/assets/images/press/white-house-logo.jpg">
          </figure>
        </div>
        <div class="press-description">
          <p class="press-quote">
            "This project represents an important continuation of how the Federal government is working with communities and technologists to enhance the power of open data by making it more accessible to a wide variety of users across the country."
          </p>
          <div class="border-seperator"></div>
          <p class="press-attribution">
            <a href="https://www.whitehouse.gov/the-press-office/2016/03/07/fact-sheet-white-house-launches-opportunity-project-utilizing-open-data" target="_blank">Fact Sheet: The White House Launches The Opportunity Project,” Utilizing Open Data to Build Stronger Ladders of Opportunity for All</a>, 2016
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="project-categories">
  <div class="container">
    <header>
      <h1>Explore Related Projects</h1>
    </header>
        {% for item in project.tags %}
        <a href="{{ item | url_encode }}">{{ item }}</a>
        {% endfor %}
  </div>
</section>
{% endfor %}