{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include_cached meta.html title=page.title %}

{% assign page_id = page.url | remove:'/index.html' | split: '/' %}
<body class="{% if page_id %}{{ page_id }}{% else %}home{% endif %}">
  <a class="skipnav" href="#main-content">Skip to main content</a>
  {% include_cached header.html %}

  {% include_cached menu.html nav=page.nav url=page.url primary_navigation=site.primary_navigation secondary_navigation=site.secondary_navigation %}

  {{ content }}

  {% include_cached footer.html %}

  {% include_cached scripts.html %}
</body>

</html>
