{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}
<!--
                      __,__r========qL,
                   ,m**`~'            XW;
            ____Lm/'      _mmmm    jW@+===m___,
      .m+*f~TX7''|    `Y*X@X7~MMLL          ._JXmL,
    jf~'    `YM#:~      !*##@ d j@~Y!     `~~~+m_
   Z            M       `Nd*=+5+      -====L__ !M-
  m!            `Y=;m_,   ~Yf~~               YL`W;
  |        .mmmmmqrL_XXX~*==mL,                 Y#|
  |  ,Z~~~~~'        ~~~~    X#         -==L__,  !#,
  | |tL             ____WY*f~~                `~qd#W
  V,| `~~Y*+mL_,  :f~~ ~                   q_    V#b
  `b|         `Y+-W;                        `\\,  _#
    V              N,  m                 YL,   `\L#@
                    N  #                   YL,   `##,
                   .P  #                     `\   V#|
                 ../   #           ^           YL |W
                -P     #    :P  ;  ||           `|!W
                Z'     #   :P  :'   #,           #L#
            _ _Wb    jWD  jf   /    |b           V@*
          j+N##8#4rt8#~.,jf    |    |#       b   |W
       .r*'m8####q#P8###*'    W    :##       V;  d|
      /K_jWK#X###~#|###mW#   :P  j;##|    #, `#, @
     !TGW###8#m#K7q=WWmd##mmm#m.Z8###!    #W  |b |
     /4#@##W#+##P:WZWMZ*W=m##WMN|WZWP:#;m,d#W;Dd |
    W*~~~M#W!KWjW5!!/WV##N7j#KXPNMX#DW###b###D#Xb|
   !'    d!JXXXW!`!Ldm@#bd#WW8K)X|X#8#8#K##V#!K5|#
        d@f~  jf.Z\/Vb*Y+W#j(WMZPrMM#@##K#@##;WWj##,
        ~    m*~'   '#`\8#W4KW#qX@VW##W#8##8#rNWK###G-
            `'       #`8*=#YWWK/b+WW#W#*#MWm8*KKd#M#**m,
                     #Z'  VW#f'~M+NM#####K#8@WLMZKX#W#+M;
                              ~` *YM#######@*)P/+DK####m#
                                   `'*##fXVPX|Vr~##Z#W@N@
                                      `WL_d**DfWX#8#WK##*b
                                                `W###@#N#/b
                                                 .#mj#X~YM#
                                                 ~`#WdD~  Y!
                                                 `'_|#f+-

  Like code? Want to make America more awesome?
  Apply to be a Presidential Innovation Fellow: https://apply.pif.gov
  -->
<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{% if page.title %}{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}</title>
  <meta property="og:title" content="{% if page.title %}{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{% asset pif-nasa-square.jpg @path %}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{% if page.title %}{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="https://presidentialinnovationfellows.gov{% asset pif-nasa-square.jpg @path %}" />

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{site.baseurl}}/">
  <meta property="og:url" content="{{site.baseurl}}/">
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset favicon.ico @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon.png @path %}">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% asset favicon-192.png @path %}">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{% asset favicon-57.png @path %}">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicon-72.png @path %}">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicon-114.png @path %}">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicon-144.png @path %}">
  <!-- CSS
    ================================================== -->
  {% asset index.scss %}
  <meta name="google-site-verification" content="e6W37fYyyy6k_qp6E4A64dMwG8PozXZibjVG3J_bR94" />
</head>

{% assign page_id = page.url | remove:'/index.html' | split: '/' %}
<body class="{% if page_id %}{{ page_id }}{% else %}home{% endif %}">
  <a class="skipnav" href="#main-content">Skip to main content</a>
  {% comment %}
      use "nav: dark" in your frontmatter to get the alternate styling for the header that lays on top of a hero image
  {% endcomment %}

  <section class="usa-banner" aria-label="Official government website">
      <div class="grid-container">
          <div class="usa-accordion">
              <header class="usa-banner__header">
                  <div class="usa-banner__inner padding-left-0">
                      <div class="grid-col-auto">
                          {% asset us_flag_small.png class="usa-banner__header-flag" alt="U.S. flag" %}
                      </div>
                      <div class="grid-col-fill tablet:grid-col-auto">
                          <p class="usa-banner__header-text">An official website of the United States government</p>
                          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
                      </div>
                      <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
                          <span class="usa-banner__button-text">
                            Here’s how you know
                          </span>
                      </button>
                  </div>
              </header>
              <div class="usa-banner__content usa-accordion__content padding-left-0" id="gov-banner">
                  <div class="grid-row grid-gap-lg">
                      <div class="usa-banner__guidance tablet:grid-col-6">
                          {% asset icon-dot-gov.svg class="usa-banner__icon usa-media-block__img" alt="Dot gov" %}
                          <div class="usa-media-block__body">
                              <p>
                                  <strong>
                                      Official websites use .gov
                                  </strong>
                                  <br />
                                  A <strong>.gov</strong> website belongs to an official government organization in the United States.

                              </p>
                          </div>
                      </div>
                      <div class="usa-banner__guidance tablet:grid-col-6">
                          {% asset icon-https.svg class="usa-banner__icon usa-media-block__img" alt="Https" %}
                          <div class="usa-media-block__body">
                              <p>
                                  <strong>
                                      Secure .gov websites use HTTPS
                                  </strong>
                                  <br />
                                  A <strong>lock</strong> (
                                  <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description">
                                          <title id="banner-lock-title">Lock</title>
                                          <desc id="banner-lock-description">A locked padlock</desc>
                                          <path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z" />
                                      </svg></span>
                                  ) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.

                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <div class="usa-overlay"></div>

  {% include_cached menu.html nav=page.nav url=page.url primary_navigation=site.primary_navigation secondary_navigation=site.secondary_navigation %}

  {{ content }}

  {% include_cached footer-tagline.html %}
  <footer class="usa-footer usa-footer--big">
    <div class="usa-footer__primary-section">
      <div class="grid-container">
        <div class="padding-top-4 padding-bottom-2 mobile-lg:padding-bottom-0">
          <a href="{{ site.baseurl }}/">
            {% asset pif-logo-nav.png alt="Presidential Innovation Fellows Logo" width="189" %}
          </a>
        </div>
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-8">
            <nav aria-label="Footer navigation" class="usa-footer__nav">
              <div class="grid-row">
                <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                  <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                    <h4 class="usa-footer__primary-link">Presidential Innovation Fellows</h4>
                    <ul class="usa-list usa-list--unstyled">
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl }}/fellows">Fellows</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl }}/projects">Projects</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl }}/agencies">Agencies</a></li>
                      <li class="usa-footer__secondary-link"><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                    </ul>
                  </section>
                </div>
                <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                  <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                    <h4 class="usa-footer__primary-link">Get in touch</h4>
                    <ul class="usa-list usa-list--unstyled">
                      <!-- <li class="usa-footer__secondary-link"><a href="/contact-us">Contact Us</a></li> -->
                      <li class="usa-footer__secondary-link"><a href="mailto:pif-team@gsa.gov">pif-team@gsa.gov</a> </li>
                      <li>
                        <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/PIFgov">
                          <span>Twitter</span>
                        </a>
                        <a class="usa-social-link usa-social-link--linkedin" href="https://www.linkedin.com/company/white-house-presidential-innovation-fellows/">
                          <span>LinkedIn</span>
                        </a>
                      </li>
                      <li>

                      </li>

                    </ul>
                  </section>
                </div>
                <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                  <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                    <h4 class="usa-footer__primary-link">Policies and standards</h4>
                    <ul class="usa-list usa-list--unstyled">
                      <li class="usa-footer__secondary-link"><a href="https://www.gsa.gov/website-information/linking-policy">Linking policy</a></li>
                      <li class="usa-footer__secondary-link"><a href="https://www.gsa.gov/website-information/privacy-and-security-notice">Privacy and security</a> </li>
                    </ul>
                  </section>
                </div>
              </div>
            </nav>
          </div>
          <div class="tablet:grid-col-4">
            <div class="usa-sign-up">
              <form class="usa-form" id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSATTS/subscriber/qualify?qsp=USGSATTS_1" accept-charset="UTF-8" method="post" target="_blank"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="BVsScV3cJRnFoVEu3356C3aW2YOaOpp/VH1/TrYPxME4KWzNT/7ABzgRFh1wpp3UA6+C6PZX4tirvSU4VE5KcQ==" />
                <label id="pif-email-sign-up" for="email" class="usa-sign-up__heading">Sign up for PIF updates</label>
                <input class="usa-input" type="text" name="email" id="email" placeholder="Enter your email address" aria-labelledby="pif-email-sign-up"/>
                <input class="usa-button usa-button--secondary" type="submit" name="commit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include_cached anchor.html %}
  </footer>

  {% include_cached scripts.html %}
</body>

</html>
