---
layout: default
---

<div class="usa-hero usa-hero--short">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Fellows
      </h1>
    </div>
  </div>
</div>

<section class="margin-top-4 margin-bottom-1 bg--lightest">
  <div class="grid-container">
    <div class="grid-row usa-prose">
      <p class="body-intro">
        We're building human-centered solutions that scale, and<br class="display-none tablet:display-inline" />
        fundamentally changing federal culture while we're at it.
        <br/>
        Learn about some of our projects below.
      </p>
    </div>
    <div class="grid-row margin-top-4">
      {% include fellow-filters.html %}
    </div>
  </div>
</section>

<section class="grid-container usa-layout-docs usa-section">
  <div class="grid-row grid-gap">
    <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose list-fellows">
      <main id="main-content">
        {{ content }}
      </main>
    </div>
  </div>
</section>

{% include quote.html image="quotes/jacqueline_kazil.jpg" quote="PIFdom is about having the opportunity to have an impact on every American." name="Jacqueline  Kazil, 2013 PIF, detailed to the Federal Emergency Management Agency (FEMA)" %}
