---
layout: default
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

{% include_cached banner.html title=page.title description=page.description %}

<main id="main-content">
  <div class="usa-layout-docs usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        {% include fellow-aside.html pif_project=page.project pif_agency=page.agency pif_year=page.fellow_year pif_hometown=page.hometown %}
        <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
         <h2>Biography</h2>
         {% if page.image %}
          {% asset "{{ page.image }}" class="circle-card float-right margin-left-3" alt="{{ page.image_alt_text }}" %}
         {% endif %}
         <p class="usa-intro">
           {{ page.bio_short }}
         </p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</main>
