<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Presidential Innovation Fellows 2020 Impact Report</title>
	{% assign redirect_url = "/reports/PIF-Impact-Report-2020.pdf" | prepend: site.baseurl | prepend: site.url %}
	<link rel="canonical" href="{{ redirect_url }}">
	<meta http-equiv="refresh" content="0; url={{ redirect_url }}">
  	<meta property="og:title" content="Presidential Innovation Fellows 2020 Impact Report">

	<meta name="description" content="{{site.description}}">
  	<meta property="og:description" content="{{site.description}}">
  	<meta property="og:image" content="{% asset banner-pif-impact-report.png @path %}">

  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:site" content="@{{site.twitter}}" />
  	<meta name="twitter:title" content="Presidential Innovation Fellows 2020 Impact Report" />
  	<meta name="twitter:description" content="{{site.description}}" />
  	<meta name="twitter:image" content="https://presidentialinnovationfellows.gov{% asset banner-pif-impact-report.png @path %}" />

  	<meta property="og:type" content="article">
  	<link rel="canonical" href="{{site.url}}{{page.url}}">

	<!-- Favicons
	================================================== -->
	<!-- 128x128 -->
	<link rel="shortcut icon" type="image/ico" href="{% asset favicon.ico @path %}">
	<link rel="icon" type="image/png" href="{% asset favicon.png @path %}">
	<!-- 192x192, as recommended for Android
	http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
	-->
	<link rel="icon" type="image/png" sizes="192x192" href="{% asset favicon-192.png @path %}">
	<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
	<link rel="apple-touch-icon-precomposed" href="{% asset favicon-57.png @path %}">
	<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicon-72.png @path %}">
	<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicon-114.png @path %}">
	<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicon-144.png @path %}">

</head>
<body>
	<h1>Redirecting to the Presidential Innovation Fellows 2020 Impact Report</h1>
	<a href="{{ redirect_url }}">Click here if you are not redirected.</a>
	<script>location="{{ redirect_url }}"</script>
</body>
</html>