---
layout: default-main
---
<div class="usa-hero project">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Projects
      </h1>
    </div>
  </div>
</div>

<section class="usa-section bg--lightest">
  <div class="grid-container">
    <div class="flex-column-reverse-tablet flex-align-center flex-justify">
      <p class="font-serif-lg text-italic text-primary-vivid flex-1">
        {{ page.agency }}
      </p>
      <div class="display-flex flex-wrap">
        <a href="/projects" class="usa-button usa-button--small usa-button--outline  usa-button--w-icon margin-bottom-1 tablet:margin-bottom-0">
          {% asset 'icons/arrow--back.png' width=20 aria-hidden="true" %} Back to all
        </a>
        <a href="{{ page.project_link }}" class="usa-button usa-button--small">
          Visit agency website
        </a>
      </div>
    </div>

    <div class="grid-row">
      <div class="tablet:grid-col-8">
        <h1 class="font-serif-xl text-normal line-height-serif-4">
          {{ page.title }}
        </h1>
        {% if page.summary %}
        <p class="body-intro">
          {{ page.summary }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% include project-team.html agency_logo=page.agency_logo fellows=page.fellows topics=page.topics %}

<div class="usa-layout-docs padding-y-8 bg--lightest">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-3 margin-bottom-6">
        {% include sidenav-dynamic.html %}
      </div>
      <div class="tablet:grid-col-8 tablet:grid-offset-1 usa-layout-docs__main usa-prose">
        <h2 class="text-primary text-no-italic">
          About <em>{% if page.agency_abbrev %}{{page.agency_abbrev}}{% else %}the project{% endif %}</em>
        </h2>
        <p>{{ page.partner_description }}</p>

        {% if page.project_challenge %}
        <h2 class="text-primary text-no-italic">
          The <em>challenge</em>
        </h2>
        <p class="body-intro">
          {{ page.project_challenge  }}
        </p>
        {% endif %}

        {{ content }}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sidenav = document.getElementById('sidenav-dynamic');
  var headers = document.querySelectorAll(".usa-prose h2, .usa-prose h3");

  if (sidenav) {
    headers.forEach(function(header, index) {
      var headerText = header.innerHTML.replace( /(<([^>]+)>)/ig, '');
      var headerId = headerText.trim().toLowerCase().replace(/ /gi, "-");
      if (!header.id || !header.id.length) {
        header.setAttribute("id", headerId);
      }
      var li = document.createElement("li");
      li.classList.add('usa-sidenav__item');
      var link = document.createElement("a");
      index === 0 && link.classList.add('usa-current');
      link.href = "#".concat(headerId);
      var linkText = document.createTextNode(headerText);
      link.appendChild(linkText);
      li.appendChild(link);
      sidenav.appendChild(li);
    });
  }
</script>
