---
layout: default
---

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <div class="clearfix">
          <h4 class="text-uppercase text-secondary-dark float-left margin-0 desktop:grid-col-8">{{ page.agency }}</h4>
          {% if page.project_link %}
          <a href="{{ page.project_link }}" class="usa-button float-right usa-button desktop:grid-col-3">
            View project site
          </a>
          {% endif %}
        </div>
        <h1 class="title">{{ page.title }}</h1>

        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="grid-col-3">
              {% if page.agency_logo %}
              {% asset "{{ page.agency_logo }}" class="img-responsive project-image" alt="{{ page.agency }}" %}
              {% endif %}
            </div>
            <div class="grid-col-9">
              <p class="usa-intro">
                {{ page.summary }}
              </p>
            </div>
          </div>
        </div>

        <h2>About {{page.agency_abbrev}}</h2>
        {{ page.partner_description }}
        <h2>The challenge</h2>
        <div class="bg-secondary-lightest project-question">
          <p class="usa-intro">
            {{ page.subtitle  }}
          </p>
        </div>
        <h2>Our work at {{ page.agency_abbrev }}</h2>
        {{ content }}

        {% if page.status == "past" or page.status == "current" %}
          <h2>Fellows</h2>
          <ul class="project-fellows">
            {% assign fellows_list = site.fellows %}
            {% for fellow in fellows_list %}
            {% capture project_id %}{{page.id | remove: "/projects/"}}{% endcapture%}
                {% if fellow.project contains project_id %}
                <li>
                  <a href="{{ site.baseurl }}{{ fellow.url }}">
                  {% asset "{{ fellow.image }}" class="circle-6 float-left margin-right-2" %}
                  {{ fellow.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
