---
layout: wide
---

<div class="usa-hero project">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Projects
      </h1>
    </div>
  </div>
</div>

<section class="page-header bg--lightest padding-y-6">
  <div class="grid-container">
    <div class="grid-row usa-prose">
      <h1>Our <em>Work</em></h1>
      {% if page.description %}
          <p class="body-intro">
            {{ page.description }}
          </p>
      {% endif %}
    </div>
  </div>
</section>

<section class="usa-section">

  <div class="grid-container padding-y-6">
    <div class="grid-row usa-prose">
      <h2>PIF Impact Report</h2>
      <p class="body-intro">
       If you’d like to learn more about our history, our fellows' work with partners, and our results, read our <a href="https://pif.gov/impact">Impact Report</a>.
      </p>
    </div>
  </div>

  <div class="grid-container">
    {% include project-filters.html %}
    <div class="project-items grid-row grid-gap">
      {{ content }}
    </div>
  </div>
</section>

{% include_cached quote.html image="/assets/images/quotes/henry_wei.jpg" quote="I'm a parent, and wanted to help build a better government for my daughters and future generations. The PIF program opened my eyes to a diverse group of like-minded people ready, willing, and able to help in the cause — both during the Fellowship and well beyond in the PIF alumni community." name="Henry Wei
, 2012-2013 PIF, detailed to the U.S. Department of Veterans Affairs and U.S. Department of Health and Human Services" %}

<script type="text/javascript">
  // Based on W3 How to Filter Elements:
  // https://www.w3schools.com/howto/howto_js_filter_elements.asp
  function filterSelection(c) {
    var x, i;
    var marginAdjust = false
    x = document.getElementsByClassName("project-item__outer");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      removeClass(x[i], "hide");
      // if class is NOT present on item
      var isFound = x[i].className.indexOf(c) > -1;
      if (!isFound) addClass(x[i], "hide");
    }
  }
  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }
  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  // ** Selection **
  var selectElement = document.getElementById('project-agencies-select');
  // Remove select options with no results on page:
  var toRemove = [];
  for (i = 0; i < selectElement.options.length; i++) {
      var val = selectElement.options[i].value;
      if (i === 0) continue; // skip placeholder
      if (!document.getElementsByClassName(val).length) {
        toRemove.push(selectElement.options[i]);
      }
  }
  for (i = 0; i < toRemove.length; i++) toRemove[i].remove();
  // Add filter functionality:
  selectElement.addEventListener('change', (e) => {
    filterSelection(e.target.value);
  });
</script>
