---
layout: wide
title: Agencies
permalink: /agencies/
redirect_from:
  - /proposal/
---

<div class="usa-hero">
  <div class="usa-hero__overlay"></div>
  <div class="usa-hero__overlay-content">
    <div class="grid-container display-flex flex-column flex-justify-center height-full">
      <h1 class="usa-hero__heading display display--inverted">
        Agencies
      </h1>
    </div>
  </div>
</div>

<section class="grid-container usa-section page-header">
  <div class="grid-row">
    <div class="tablet:grid-col-8">
      <h1>Work with us</h1>
      <p class="body-intro">Calling all federal innovators: Do you want to build cutting-edge solutions that serve your mission and the public? Together, we can. We’d love to hear from you.</p>
      <span><a class="usa-button usa-button--big" target="_blank" href="https://touchpoints.app.cloud.gov/touchpoints/e641f506/submit">Submit a project</a></span>
      <p><h2>2023 Cohort and Projects</h2>
        The 2023 PIF cohort of ~35 Fellows will begin in April 2023. Agencies interested in hosting Fellows should complete <strong style="color: #0b4778;"> <a target="_blank" href="https://touchpoints.app.cloud.gov/touchpoints/e641f506/submit">this form</a> </strong>by May 31, 2022. PIF will evaluate and interview prospective agency partners in early summer 2023. </p>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-12">
      <h2>How it works</h2>
      <p> PIF recruits strategists and technologists in fields including: <strong>software engineering and cloud infrastructure, data science and analytics, product management, customer experience and design, digital strategy, and change management</strong>. Fellows have worked with 45+ federal agencies to date.  </p>
      <p> Fellows are mid-to-senior career level leaders, and serve as senior advisor and entrepreneurs in residence to champion government modernization. They work on building agency innovation capabilities, tackling hard problems, shaping smarter policy, and/or delivering technology alongside talented and forward-thinking career federal leaders.. </p>
    </div>
    <div class="desktop:grid-col-12">
      <p><h2 style="color: #0b4778;">Agency participation criteria </h2>
        Strong proposals demonstrate: 
        <ul>
          <li>Problems of critical agency and/or national priority </li>
          <li>Clear line to positive impact, benefit, or customer experience for the public </li>
          <li>Early-state initiatives with room for fellows to shape, define, and lead</li>
          <li>Fellows work directly at the leadership level of programs/agencies</li>
        </ul>
      </p>
      <p>
        Issues of FY23 national priority include: COVID-19, climate crisis, racial equity and civil rights, economic relief, healthcare, immigration system improvement, infrastructure, strengthening national security workforce, leadership in emerging technologies (AI, digital currency, etc), rebuilding democratic alliances across the globe, and championing America’s values and human rights.<br> <p><a class="usa-button usa-button--big" target="_blank" href="https://touchpoints.app.cloud.gov/touchpoints/e641f506/submit">Submit a project</a></p>
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-12">
      <h2>Hosting a PIF</h2>
      <p><strong style="color: #0b4778;">Recruitment and selection:</strong> PIF runs a robust external recruitment program. PIF requires applicants to pass skills & behavioral interviews before host agencies interview and select a fellow.</p>
      <p><strong style="color: #0b4778;">Hiring details:</strong> GSA hires fellows as full-time federal employees at the GS-15, Step 1 level in their first year, and details them to agencies through an Interagency Agreement (IAA) or service agreement.</p>
      <p> <strong style="color: #0b4778;">Work location and telework:</strong> This is a Washington, DC based fellowship. In coordination with the host agency, the fellowship supports telework options.</p>
      <p> <strong style="color: #0b4778;">Duration:</strong> The PIF fellowship term lasts one year, with an option to be considered for a one year term extension</p>
      <p><span style="color: #0b4778;"><strong>Agency expectations: </strong></span><br>
        <ul>
          <li>Employing your PIF as a strategic thought partner who can offer innovative approaches to challenging, open ended problems </li>
          <li>Committing a senior leader to serve as an agency sponsor for the PIF </li>
          <li>Making key connections & introductions, providing top-down support, and helping navigate challenges, organizational politics, & bureaucracy when it arises</li>
          <li>Full access to IT systems, data, equipment, and tools needed for the job</li>
          <li>An inclusive & respectful environment, sharing all relevant information, your vision, and goals</li>
          <li>Regular weekly or bi-weekly touchpoints with your PIF</li>
        </ul>
      </p>
    </div>
  </div>
</section>

<section class="usa-section grid-container">
  <h2>Trusted by agency leaders</h2>
  <ul class="grid-row grid-gap usa-list usa-list--unstyled">
    {% for agency in site.data.agencies %}
    <li class="work-box desktop:grid-col-6 tablet:grid-col-4 flex-auto padding-x-2">
      <div class="work-box-ico grid-col-12 width-full">
        {% asset "{{ agency.name }}.png" alt=""  %}
      </div>
      <p class="work-box-head grid-col-12 text-center padding-x-1 margin-top-1">{{ agency.fullname }}</p>
    </li>
    {% endfor %}
  </ul>
</section>



{% include_cached quote.html image="quotes/sarayu_srinivasan.jpg" quote="PIF has been a remarkable opportunity to undertake public service on discrete, impactful federal projects. The experience was rewarding because I not only used my professional experience as an operator, investor, and entrepreneur to address large-scale government challenges; I also learned a tremendous amount about how our government operates. I contributed, but I also learned a great deal." name="Sarayu Srinivasan, 2019-2020 PIF, detailed to the National Institute of Standards and Technology (NIST) and Office of Management and Budget (OMB)" %}
